.title{
    height: 74px;
    width:100%;
    background-image:linear-gradient(90deg, rgba(250, 85, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 100%;
    margin-top:1%;
}
h1{
    font-size:48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 0;
    color:#FFFFFF;
    margin-left: 2%;
}
