
<div class="menu">
    <div class="title"> <p>VOTE FOR <span class="USER">USER</span> COMPLETED SUCCESSFULLY</p> </div>
    <span class="leftbar">
        <span class="mvpImage">
            <div><img src="../../../../../assets/images/table/VoteFacundoCam.png"></div>
        </span>
        <span class="mvpVote">
            <h2><div>YOU HAVE VOTED</div>  <div class="mvpVoteName">FACUNDO CAMPAZZO</div> <div>FOR MVP</div></h2>
        </span>
    </span>
    <span class="rightbar">
        <div class="question">
            <h2>DO YOU HAVE ANOTHER VOTE TO SUBMIT?</h2>
        </div>
        <div class="buttons">
            <span class="yes_button"><button (click)="SendToParent1();"> <p>YES</p> </button></span>
            <span class="no_button"><button (click)="SendToParent2();"> <p>NO</p> </button></span>
        </div>
    </span>
</div>
