<mobile-live-matches 
logo1="../../../../assets/images/real_madrid.png" 
logo2="../../../../assets/images/maccabi.png"
team1="Real Madrid"
team2="Maccabi FOX Tel Aviv"
score="24'" 
time="50 - 31">
</mobile-live-matches>

<div>
    <news-row 
    title="Top Plays"
    title1="Larkin’s assist vs Maccabi FOX a..."
    title2="Spanoulis’ assist vs Anadolu Efe... Panathina..."
    title3="Calathes’ assist vs Olympiakos ..."
    title4="Vesely’s block  vs Maccabi FO..."
    thumbnail1="../../../../assets/images/videos/top1"
    thumbnail2="../../../../assets/images/videos/top2"
    thumbnail3="../../../../assets/images/videos/top3"
    thumbnail4="../../../../assets/images/videos/top4">
    </news-row>
</div>
<div>
    <news-row 
    title="News"
    title1="Open letter from EuroLeague C..."
    title2="Obradovic asks fans to show h..."
    title3="David Blatt, Olympiacos is ... mutu..."
    title4="Panathinaikos officially signs Jimmer Fredette"
    thumbnail1="../../../../assets/images/videos/topplay1"
    thumbnail2="../../../../assets/images/videos/topplay2"
    thumbnail3="../../../../assets/images/videos/topplay3"
    thumbnail4="../../../../assets/images/videos/topplay4">
    </news-row>
</div>

<div>
    <standings></standings>
</div>
    