
.box{
    width: 56px;
    height: 56px;
    background-color: #44AC45;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 56px;
    border-radius: 5px;
    margin-top: 5%;
}
.team{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 45px;
    width: 490px;
    height: 59px;
    margin-top: -13%;
    margin-left: 15%;
}