.heart{
    margin-left: 85%;
    margin-top:4%;
}

.player{
    margin-left: 5%;
}
.player img{
    margin-top: -8%;
}
.player_name{
    display: inline-block;
    font-size: 20px;
    width: 143px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    margin-left: 5%;
    margin-top: 2%;
}
.letter_tag{
    width: 393px;
    height: 20px;
    background: black;
    opacity: 80%; 
    margin-top: 7%; 
}
.text{
    color:white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20px;
    vertical-align: top;
    margin-left:9%;
}
.main{
    display: inline-block;
}
.main1{
    width: 148px;
    margin-left: 0;
}
.container{
    margin-left: 5%;
    width: 148px;
}
.types{
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6%;
    font-weight: bold;
}
.types1{
    width: 148px;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

