<div class="row">
    <div class="video"> 
        <img src="../../../../assets/images/MVP.png" alt="Image"> 
        <div class="text">Playoffs Game 5 MVP: Shane Larkin Anadolu Efes Istanbul<hr> </div>
    
    </div>
    <div class="video"> 
        <img src="../../../../assets/images/Decolo.png" alt="Image"> 
        <div class="text">Playoffs Game 4 MVP: Nando De Colo CSKA Moscow<hr> </div>  
        
    </div>
    <div class="video"> 
            <img src="../../../../assets/images/Larkin.png" alt="Image"> 
            <div class="text">Playoffs Game 3 MVP: Shane Larkin Anadolu Efes Istanbul<hr> </div>        
            
    </div>
    <div class="video"> 
                <img src="../../../../assets/images/Vincent.png" alt="Image"> 
                <div class="text">Playoffs Game 2 MVP: Vincent Poirier Kirolbet Baskonia <hr> </div>
                
    </div>
    <div class="video"> 
                    <img src="../../../../assets/images/Micic.png" alt="Image"> 
                    <div class="text">Playoffs Game 1 MVP: Vasilije Micic Anadolu Efes Istanbul<hr> </div>
                    
                    
    </div>
    <div class="video"> 
        <img src="../../../../assets/images/Campazzo.png" alt="Image"> 
        <div class="text">Regular Season MVP:Facundo Campazzo Real Madrid<hr> </div>
    </div>
    
</div>
