<link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">

<div class="card">

    <img src="../../../../assets/images/Add_to_watchlist.png" class="watchlist">
    <div class="content">
        <a>
            <img src={{logo1}} class="top-icons" alt="MenuTab"> <br>
            <h2 class="team"> {{team1}} </h2>
        </a>
        <a>
            <h1 class="score"> {{time}} </h1><br>
            <h1 class="blank"></h1>
        </a>
        <a>
            <img src={{logo2}} class="top-icons" alt="MenuTab"> <br>
            <h2 class="team"> {{team2}} </h2>
        </a>
    </div>
</div>