span{
    display: inline-block;
}

.Subplayer{
    text-align: center;
    height: 200px;
    width: 120px;
}

.playerimg{
    margin: 5%;
    height: 120px;
    width: 120px;
}
.playername{
    margin: auto;
}
.playername p{
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

.playerimg img{
    width: 120px;
    height: 120px;  
}
