<ami-fullstack-header-tag page_title="Schedule" image="../../../../assets/images/main_menu_mobile.png"></ami-fullstack-header-tag>
<ami-fullstack-bar date="Thursday, Oct 3"> </ami-fullstack-bar>

<ami-fullstack-match date="20:45" img1="../../../../../assets/teams_Schedule/real.png" img2="../../../../../assets/teams_Schedule/maccabi.png" name1="Real Madrid" name2="Maccabi FOX Tel Aviv"> </ami-fullstack-match>
<ami-fullstack-match date="22:45" img1="../../../../../assets/teams_Schedule/osfp.png" img2="../../../../../assets/teams_Schedule/pao.png" name1="Olympiakos Piraeus" name2="Panathinaikos Athens"> </ami-fullstack-match>

<ami-fullstack-bar date="Friday, Oct 4">  </ami-fullstack-bar>

<ami-fullstack-match date="20:45" img1="../../../../../assets/teams_Schedule/zalgiris.png" img2="../../../../../assets/teams_Schedule/barca.png" name1="Zalgiris Kaunas" name2="Barcelona BC"> </ami-fullstack-match>
<ami-fullstack-match date="22:45" img1="../../../../../assets/teams_Schedule/armani.png" img2="../../../../../assets/teams_Schedule/fener.png" name1="Olimpia Armani Milano" name2="Fenerbahce"> </ami-fullstack-match>
<ami-fullstack-match date="22:45" img1="../../../../../assets/teams_Schedule/cska.png" img2="../../../../../assets/teams_Schedule/khimki.png" name1="CSKA Moscow" name2="BC Khimki"> </ami-fullstack-match>