span{
    display: inline-block;
    vertical-align: middle;
}

.menu-choise{
    margin-top: 2.7%;
    width: 393px;
    height: 60px;
}

.menu-choise img{
    width: 40px;
    height: 40px;
}

.menu-img{
    margin-left: 10%;
}
.menu-name{
    margin-left: 12%;
}

h4{
    font-size: 25px;
}