
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">


<div class="card">

    <button class="button">Watch match</button>
    <h1 class="time"> 24' </h1>
    <div class="content">
        <a>
            <img src="../../../../assets/images/Maccabi_Tel_Aviv.png" class="top-icons" alt="MenuTab"> <br>
            <h2 class="team"> Maccabi Tel Aviv </h2>
        </a>
        <a>
            <h1 class="score">50 - 31</h1><br>
            <h1 class="blank"></h1>
        </a>
        <a>
            <img src="../../../../assets/images/RealMadrid.png" class="top-icons" alt="MenuTab"> <br>
            <h2 class="team"> Real Madrid </h2>
        </a>
    </div>
</div>