
.card{
    height: 600px;
    width: 110%;
    margin: 0%;
    margin-left: 0%;
    background-image: url('../../../../assets/images/live_match.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 90px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: inline-block;
    text-align: center;
}

a {
    display: inline-block;
    height: 300px;
}

.content {
    text-align: center;
    margin-top: -7%;
    height: 200px;
}

.blank{
    width: 400px;
}
.time{
    width: 100%;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 0%;
    font-size: 80px;
}

.score{
    width: 300px;
    margin-bottom: 30%;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
}

img {
    max-width: 200px;
    height: auto;
}

.team{
    color: white;
    text-align: center;
    font-size: 50px;
    width: 200px;
}


.button {
    position: absolute;
    top: 440px;
    left: 368px;
    width: 35%;
    height: 10%;
    text-align: center;
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    
    color: black;
    border: 3px solid rgb(255, 255, 150); /* Green */
    border-radius: 50px;

    color: white;
    font-weight: 100;
  }