<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">


<div class="card">

    <h1 class="time" > {{time}} </h1>
    <a>
        <img src="../../../../assets/images/Maccabi_Tel_Aviv.png" class="top-icons" alt="MenuTab"> <br>
        <h2 class="team"> Maccabi Tel Aviv </h2>
    </a>
    <h1 class="score">{{ score }}</h1>
    <a>
        <img src="../../../../assets/images/RealMadrid.png" class="top-icons" alt="MenuTab"> <br>
        <h2 class="team"> Real Madrid </h2>
    </a>
</div>