<link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">


<div class="card">

    <button class="button">Watch match</button>
    <h1 class="time"> {{ time }} </h1>
    <div class="content">
        <a>
            <img src={{logo1}} class="top-icons" alt="MenuTab"> <br>
            <h2 class="team"> {{team1}} </h2>
        </a>
        <a>
            <h1 class="score">{{score}}</h1><br>
            <h1 class="blank"></h1>
        </a>
        <a>
            <img src={{logo2}} class="top-icons" alt="MenuTab"> <br>
            <h2 class="team"> {{team2}} </h2>
        </a>
    </div>
</div>