
.sidemenu{
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}
.main{
    background-color: #1A0700;
    width: 1920px;
    margin-left: 109px;
    height: 1080px;
    overflow-x: auto;
    overflow-y: auto;
    display: inline-block;
    width: auto;
}
:host ::ng-deep .menu .options .VL {
    margin-top: 753px;
}