.main{
    background-color: #1A0700;
    width:auto;
    height: 1080px;
    overflow-y:auto;
    overflow-x:auto ;
}

.Title{
    float: left;
    width: 100%;
    background-image:linear-gradient(90deg, rgba(250, 85, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 60%;
    height: 75px;
}

.RoundButton{
    width: 426px;
    height: 75px;
    border:solid;
    border-width: thin;
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 0.5%;
    display: inline-block;
}

.arrow{
    width: 43px;
    height: 23px;
    margin-top: -130px;
    margin-left: 300px;
}

.RoundButton p{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: -13%;
    margin-top: -0.5%;
}
.text1{
    float: left;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top:-75px;
    margin-left:50px;
}
.upcoming_match{
    float: left;
    background-image:url('/../../../assets/images/Background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 899px;
    height:417px;
    border-right:0.5px solid white;
    border-width: thin;
  }
  #Oly{
      margin:50px;
      margin-left: 120px;
      width: 162px;
      height: 183px;
  }
  #Pao{
    margin:50px;
    margin-left: 100px;
    width: 162px;
    height: 183px;
}
#watchlist{
    margin-left: 80px;
    margin-top: -100px;
}
.date{
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -80px;
}
.team_text1{
    text-align: center;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color:white;
    margin-left: -55%;
    margin-top: -15px;
    line-height: 1.2;
}
.team_text2{
    text-align: center;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color:white;
    margin-top: -120px;
    margin-left: 55%;
    line-height: 1.2;
}

#Milano{
    margin:60px;
    margin-left: 120px;
    width: 160px;
    height: 159px;
}
#Fener{
    margin:50px;
    margin-bottom: 75px;
    margin-left: 100px;
    width: 162px;
    height: 183px;
}
