<ami-fullstack-sidebar-menu class="sidemenu"></ami-fullstack-sidebar-menu>
<div class="main">
    <ami-fullstack-round-button></ami-fullstack-round-button>
    <ami-fullstack-title-tag class="title" header="Thursday, Oct 3"></ami-fullstack-title-tag>
    <ami-fullstack-watchlist-match class="match" watchlist="../../../../assets/images/WatchlistREMOVE.png" team1="../../../../assets/images/Olympiacos.png" team2="../../../../assets/images/Panathinaikos.png" time="22:45 CET" text1="Olympiacos Piraeus" text2="Panathinaikos Athens"></ami-fullstack-watchlist-match>
    <ami-fullstack-title-tag class="title" header="Friday, Oct 4"></ami-fullstack-title-tag>
    <ami-fullstack-watchlist-match class="match" watchlist="../../../../assets/images/WatchlistREMOVE.png" team1="../../../../assets/images/Zalgiris.png" team2="../../../../assets/images/Barcelona.png" time="20:45 CET" text1="Zalgiris Kaunas" text2="Barcelona BC"></ami-fullstack-watchlist-match>
    <ami-fullstack-watchlist-match class="match" watchlist="../../../../assets/images/WatchlistREMOVE.png" team1="../../../../assets/images/Milano.png" team2="../../../../assets/images/Fenerbahce.png" time="22:45 CET" text1="Olimpia Milano" text2="Fenerbahce Instabul"></ami-fullstack-watchlist-match>
</div>