.heart{
    margin-left: 85%;
    margin-top:4%;
}

.player{
    margin-left: 5%;
}
.player img{
    margin-top: -8%;
}
.player_name{
    display: inline-block;
    font-size: 20px;
    width: 143px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    margin-left: 5%;
    margin-top: 2%;
}
.letter_tag{
    width: 393px;
    height: 20px;
    background: black;
    opacity: 80%; 
    margin-top: 7%; 
}
.text{
    color:white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20px;
    vertical-align: top;
    margin-left:9%;
}
.Position {
    margin-top: 1%;
    margin-left:9% ;
}
.Age{
    margin-top: 1%;
    margin-left: 5%;
}
.Height{
    margin-top: 1%;
    margin-left: 7%;
}
.Team img{
    margin-top:1%;
}
.Team{
    margin-top: 1%;
    margin-left: 7%;
}
.Nationality{
    margin-top: 1%;
    margin-left: 11%;
}

.Career{
    width: 350px;
    margin-left: 4%;
    margin-top: 1%;
}
.Career p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}