<ami-fullstack-player-profile-tag (hide_rest_scroll)="hide_the_rest()" image="../../../../assets/images/main_menu_mobile.png" page_title="Punter X. K."
    link_icon="../../../../assets/images/connect.png"></ami-fullstack-player-profile-tag>

<div class="main" *ngIf="hide_the_rest_page">
    <div class="heart" (click)="addToFavourites()">
        <img src={{heart}}>
    </div>
    <span class="player">
        <img src="../../../../assets/images/Punter.png">
    </span>
    <div class="player_name">
        PUNTER,KEVIN XAVIER
    </div>
    <div class="letter_tag"> <span class="text">Position &nbsp; &nbsp; Age &nbsp; &nbsp; Height &nbsp; &nbsp; Team
            &nbsp; &nbsp; Nationality</span> </div>
    <span class="Position">
        GUARD
    </span>
    <span class="Age">
        27
    </span>
    <span class="Height">
        1.93
    </span>
    <span class="Team">
        <img src="../../../../assets/images/Olympiacos_mini.png">
    </span>
    <span class="Nationality">
        <img src="../../../../assets/images/USA.png">
    </span>
    <div class="letter_tag"> <span class="text">Career Notes</span></div>
    <div class="Career">
        <ul>
            <li> Played college basketball at State Fair CC (2012-14) and at University of Tennessee (2014-16).</li>
            <li>Moved to Greece for the 2016-17 season, signed by GS Lavrio. </li>
            <li>In March’17 moved to Belgium, signed by Antwerp Giants.</li>
            <li>Moved to Poland for the 2017-18 season, signed by Rosa Radom.</li>
            <li>In February’18 moved to Greece, signed by AEK Athens. </li>
            <li>Moved to Italy for the 2018-19 season,signed by Virtus Bologna. </li>
            <li>Moved to Greece for the 2019-20 season, signed by Olympiacos Piraeus. </li>
        </ul>
    </div>
    <div class="letter_tag"> <span class="text">Achievements</span></div>
    <div class="Career">
            <ul>
                <li> Won the 2018 Basketball Champions League with AEK Athens.</li>
                <li>Won the 2019 Basketball Champions League with Virtus Bologna.</li>
                <li>Won the 2018 Greek National Cup with AEK Athens.</li>
                <li>Named to the 2015-16 All-SEC 2nd Team.</li>
            </ul>
        </div>
</div>