<ami-fullstack-sidebar-menu class="sidemenu"></ami-fullstack-sidebar-menu>
<div class="main">   
    <ami-fullstack-round-button class="button_round"></ami-fullstack-round-button>
    <ami-fullstack-title-tag class="title" header="Thursday, Oct 3"></ami-fullstack-title-tag>
    <ami-fullstack-schedule-match class="match" team1="../../../../assets/images/real_madrid.png" team1_text="Real Madrid" team2="../../../../assets/images/maccabi.png" team2_text="Maccabi FOX Tel Aviv" watchlist="../../../../assets/images/WatchlistADD.png" time="20:45 CET"></ami-fullstack-schedule-match>
    <ami-fullstack-schedule-match class="match" team1="../../../../assets/images/Olympiacos.png" team1_text="Olympiacos Piraeus" team2="../../../../assets/images/Panathinaikos.png" team2_text="Panathinaikos Athens" watchlist="../../../../assets/images/Add_to_watchlist.png" time="22:45 CET"></ami-fullstack-schedule-match>
    <ami-fullstack-title-tag class="title1" header="Friday, Oct 4"></ami-fullstack-title-tag>
    <br>
    <ami-fullstack-schedule-match class="match" team1="../../../../assets/images/Zalgiris.png" team1_text="Zalgiris Kaunas" team2="../../../../assets/images/Barcelona.png" team2_text="Barcelona BC" watchlist="../../../../assets/images/WatchlistADD.png" time="20:45 CET"></ami-fullstack-schedule-match>
</div>