<ami-fullstack-sidebar-menu class="sidemenu"></ami-fullstack-sidebar-menu>

<div class="main">
    <ami-fullstack-round-button class="button_round"></ami-fullstack-round-button>
    <ami-fullstack-title-tag class="title" header="Thursday, Oct 3"></ami-fullstack-title-tag>

    

        <ami-fullstack-schedule-match id="1" class="match" team1="../../../../assets/images/real_madrid.png"
            team1_text="Real Madrid" team2="../../../../assets/images/maccabi.png" team2_text="Maccabi FOX Tel Aviv"
            watchlist="../../../../assets/images/WatchlistADD.png" time="20:45 CET"></ami-fullstack-schedule-match>
    
    <div class="vertical_line"></div>
    
        <ami-fullstack-schedule-match id="2" class="match" team1="../../../../assets/images/Olympiacos.png"
            team1_text="Olympiacos Piraeus" team2="../../../../assets/images/Panathinaikos.png"
            team2_text="Panathinaikos Athens" watchlist="../../../../assets/images/WatchlistADD.png" time="22:45 CET">
        </ami-fullstack-schedule-match>
    
    <ami-fullstack-title-tag class="title" header="Friday, Oct 4"></ami-fullstack-title-tag>
    
        <ami-fullstack-schedule-match id="3" class="match" team1="../../../../assets/images/Zalgiris.png"
            team1_text="Zalgiris Kaunas" team2="../../../../assets/images/Barcelona.png" team2_text="Barcelona BC"
            watchlist="../../../../assets/images/WatchlistADD.png" time="20:45 CET"></ami-fullstack-schedule-match>
   
    <div class="vertical_line"></div>
    
        <ami-fullstack-schedule-match id="4" class="match" team1="../../../../assets/images/Milano.png"
            team1_text="Olimpia Milano" team2="../../../../assets/images/Fenerbahce.png"
            team2_text="Fenerbahce Instabul" watchlist="../../../../assets/images/WatchlistADD.png" time="22:45 CET">
        </ami-fullstack-schedule-match>
    
    <div class="horizontal_line"></div>
    
        <ami-fullstack-schedule-match class="match5" team1="../../../../assets/images/CSKA.png" team1_text="CSKA Moscow"
            team2="../../../../assets/images/Khimki.png" team2_text="Khimki Moscow"
            watchlist="../../../../assets/images/WatchlistADD.png" time="20:45 CET"></ami-fullstack-schedule-match>
    
    <div class="vertical_line2"></div>

</div>