<ami-fullstack-sidebar-menu></ami-fullstack-sidebar-menu>
<div class="main">
   <span class="RoundButton">
       <p>Round 6</p>
    <img src="../../assets/images/Polygon.png" alt="Arrow" class="arrow">
   </span>
   <ami-fullstack-title-tag-watch></ami-fullstack-title-tag-watch>
   <div class="text1">Thursday, Oct 3</div>
   <div class="real_macabi">
    <img src="/../../../assets/images/real_madrid.png" alt="remove" id="Oly">
    <img src="/../../../assets/images/WatchlistADD.png" alt="remove" id="watchlist">
    <img src="/../../../assets/images/maccabi.png" alt="remove" id="Pao">
    <div class="date"><p>20:45 CET</p></div>
    <div class="team_text1"><p>Real Madrid</p></div>
    <div class="team_text2"><p>Maccabi FOX<br>Tel Aviv</p></div>
    </div>
    <div class="upcoming_match">
        <img src="/../../../assets/images/Olympiacos.png" alt="remove" id="Oly">
        <img src="/../../../assets/images/Add_to_watchlist.png" alt="remove" id="watchlist">
        <img src="/../../../assets/images/Panathinaikos.png" alt="remove" id="Pao">
        <div class="date"><p>22:45 CET</p></div>
        <div class="team_text1"><p>Olympiacos<br>Piraeus</p></div>
        <div class="team_text2"><p>Panathinaikos<br>OPAP Athens</p></div>
        </div>
        <div class="Title"><br></div>
        <div class="text1">Friday, Oct 4</div>
        <div class="Zalgiris_Barcelona">
            <img src="/../../../assets/images/Zalgiris.png" alt="remove" id="Zalgiris">
            <img src="/../../../assets/images/Add_to_watchlist.png" alt="remove" id="watchlist">
            <img src="/../../../assets/images/Barcelona.png" alt="remove" id="Barcelona">
            <div class="date"><p>22:45 CET</p></div>
            <div class="team_text1"><p>Zalgiris<br>Kaunas</p></div>
            <div class="team_text2"><p>Barcelona<br>BC</p></div>
            </div>
            <div class="Milano_Fenerbahce">
                <img src="/../../../assets/images/Milano.png" alt="remove" id="Oly">
                <img src="/../../../assets/images/Add_to_watchlist.png" alt="remove" id="watchlist">
                <img src="/../../../assets/images/Fenerbahce.png" alt="remove" id="Pao">
                <div class="date"><p>22:45 CET</p></div>
                <div class="team_text1"><p>Olimpia<br>Armani Milano</p></div>
                <div class="team_text2"><p>Fenerbahce<br>Beko Instabul</p></div>
                </div>
                <div class="upcoming_match">
                    <img src="/../../../assets/images/CSKA.png" alt="remove" id="Oly">
                    <img src="/../../../assets/images/WatchlistADD.png" alt="remove" id="watchlist">
                    <img src="/../../../assets/images/Khimki.png" alt="remove" id="Pao">
                    <div class="date"><p>22:45 CET</p></div>
                    <div class="team_text1"><p>CSKA<br>Moscow</p></div>
                    <div class="team_text2"><p>Khimki<br>Moscow Region</p></div>
                    </div>
</div>
