.sidemenu{
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}
.main{
    background-color: #1A0700;
    margin-left: 109px;
    height: 1080px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: inline-block;
    width: auto;
}
.vertical_line{
    height: 400px;
    width:1px;
    background-color: grey;
    display: inline-block;
    position: relative;
    left: 20px;
    opacity: 70%;
    margin-bottom: -2%;
}
.horizontal_line{
    height: 1px;
    width:1920px;
    background-color: grey;
    display: inline-block;
    position: relative;
    opacity: 70%;
    bottom:18px;
}
.vertical_line2{
    height: 400px;
    width:1px;
    background-color: grey;
    display: inline-block;
    position: relative;
    left: 20px;
    opacity: 70%;
    margin-top: -1.2%;
}
