.main{
    background-color: #1A0700;
    width:auto;
    height: 1080px;
    overflow-y:auto;
    overflow-x:auto ;
}

.Title{
    float: left;
    width: 100%;
    background-image:linear-gradient(90deg, rgba(250, 85, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 60%;
    height: 75px;
}
.RoundButton{
    width: 426px;
    height: 75px;
    border:solid;
    border-width: thin;
    border-color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 0.5%;
    display: inline-block;
}

.arrow{
    width: 43px;
    height: 23px;
    margin-top: -130px;
    margin-left: 300px;
}

.RoundButton p{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: -13%;
    margin-top: -0.5%;
}

.text1{
    float: left;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top:-75px;
    margin-left:50px;
}
.upcoming_match{
    float: left;
    width: 912px;
    height:420px;
    border-right:0.5px solid white;
    border-width: thin;
  }

  #Oly{
      margin:50px;
      margin-left: 120px;
      width: 160px;
      height: auto;
  }
  #Pao{
    margin:50px;
    margin-left: 100px;
    width: 170px;
    height: auto;
}
#watchlist{
    margin-left: 80px;
    margin-top: -100px;
}
.date{
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -80px;
}
.team_text1{
    text-align: center;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color:white;
    margin-left: -55%;
    margin-top: -15px;
    line-height: 1.2;
}
.team_text2{
    text-align: center;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color:white;
    margin-top: -120px;
    margin-left: 55%;
    line-height: 1.2;
}
.real_macabi{
    float: left;
    width: 912px;
    height:420px;
    border-right:0.5px solid white;
    border-width: thin;
}

.real_macabi #Oly{
    width: 150px;
    height: auto;
    margin-top: 20px;
}
.real_macabi #Pao{
    margin-left:110px;
    width: 170px;
    height: auto;
}
.real_macabi #watchlist{
    margin-left:100px;
}
.real_macabi .team_text2{
    margin-top:-67px;
}

.Zalgiris_Barcelona{
    float: left;
    width: 912px;
    height:420px;
    border-right:0.5px solid white;
    border-bottom: 0.5px solid white; 
    border-width: thin;
}
.Zalgiris_Barcelona #Zalgiris{
  margin:50px;
  margin-left: 100px;
  width: 160px;
  height: auto;
}
.Zalgiris_Barcelona #Barcelona{
    margin:50px;
    margin-left: 105px;
    width: 190px;
    height: auto;
}
.Zalgiris_Barcelona .team_text1{
    margin-left: -550px;
    margin-top: -10px;
}
.Zalgiris_Barcelona .date{
    margin-left:-10px;
}
.Zalgiris_Barcelona #watchlist{
    margin-left:105px;
}
.Zalgiris_Barcelona .team_text2{
    margin-top:-125px;
}
.Milano_Fenerbahce{
    float: left;
    width: 912px;
    height:420px;
    border-bottom: 0.5px solid white; 
    border-width: thin;
}

