.buttonsDiv{
    text-align: center;
    margin-top: 3%;
}

.buttonsDiv a{
    margin-left: 5%;
    font-size: 30px;
}

.euroLogo{
    text-align: center;
    margin-top: 5%;
}

nav{
    background-color: rgb(230, 230, 230);
}

h3{
    font-size: 70px;
    color: rgb(255, 115, 0);
}

h3 span{
    font-size: 80px;
    color: rgb(0, 0, 0);
}
