<div class="menu">
  <div class="VL"></div>
  <a href="#"><i class="fas fa-home"></i></a>
  <a href="#"><i class="far fa-newspaper"></i></a>
  <a href="#"><i class="far fa-calendar-alt"></i></a>
  <a href="#"><i class="fas fa-photo-video"></i></a>
  <a href="#"><i class="fas fa-basketball-ball"></i></a>
  <a href="#"><i class="fas fa-users"></i></a>
  <a href="#"><i class="material-icons" style="font-size:55px;">format_list_numbered</i></a>
  <a href="#"><i class="fas fa-eye"></i></a>
  <a href="#"><i class="fas fa-heart"></i></a>

</div>
<div class="main">
   <div class="live_game">
      <div class="minutes">
        <p>24'</p>
        <span class="dot"></span>
      </div>
      <div class="play_button"><i class="far fa-play-circle"></i></div>
   </div>
   <div class="upcoming_match1">

   </div>
   <div class="upcoming_match2">
     
   </div>
   <div class="upcoming_match3">
     
   </div>
   <div class="upcoming_match4">
     
   </div>
</div>