<span class="componentArea">
    <span class="playerimg">
        <img src = {{img_src}} />
    </span>
    <span class="borderUse">
        <div class="playerInfos">
            <div class="playernameDIV">
                <h4>{{playername}}</h4>
            </div>
            <div class="stats">
                <p><span>{{player_points}}</span> PTS</p>
                <p><span>{{player_assists}}</span> ASS</p>
                <p><span>{{player_rebounds}}</span> REB</p>
            </div>
            <div class="playerposDIV">
                <h4>{{playerposition}}</h4>
            </div>
        </div>
    </span>
    <span class ="fouls">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </span>
</span>