.container{
    height: 320px;
    margin-top:4%;
    margin-left:10%;
    margin-right: 2%;
    border: 0px solid red; /*will change onhover*/
}

img{
    width: 360px;
    height: 200px;
}

.text{
    width: 360px;
    font-size: 24px;
    font-weight: medium;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
hr{
    clear:both;
    opacity: 100%;
    width:360px;
    height: 1px;
    background-color: grey;
    margin-top: -0.5%;
}
.date{
    font-size: 18px;
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
    margin-top: -2%;
}