<div class="row">
    <div class="video"> 
        <img src="../../../../assets/images/efesVSbarca.png" alt="Image"> 
        <div class="text">RS Round 1 Highlights:Efes <br>64-74 Barcelona<hr> </div>
    
    </div>
    <div class="video"> 
        <img src="../../../../assets/images/ZalgirisVsBaskonia.png" alt="Image"> 
        <div class="text">RS Round 1 Highlights: Zalgiris 58-70 Baskonia<hr> </div>  
        
    </div>
    <div class="video"> 
            <img src="../../../../assets/images/AlbaVsZenit.png" alt="Image"> 
            <div class="text">RS Round 1 Highlights: ALBA 85-65 Zenit<hr> </div>        
            
    </div>
    <div class="video"> 
                <img src="../../../../assets/images/AsvelVsOlympiacos.png" alt="Image"> 
                <div class="text">RS Round 1 Highlights: ASVEL 82-63 Olympiakos<hr> </div>
                
    </div>
    <div class="video"> 
                    <img src="../../../../assets/images/ValVsCSKA.png" alt="Image"> 
                    <div class="text">RS Round 1 Highlights: Valencia 71-96 CSKA<hr> </div>
                    
                    
    </div>
    <div class="video"> 
        <img src="../../../../assets/images/panathinaikosVSCrevna.png" alt="Image">
        <div class="text">RS Round 1 Highlights: Panathinaikos 87-82 Crvena<hr> </div>
    </div>
</div>