
    <div class="video"> 
        <img src="../../../../assets/images/efesVSbarca.png" alt="Image"> 
        <div class="text">RS Round 1 Highlights:Efes <br>64-74 Barcelona<hr> </div>
    
    </div>
    <div class="video"> 
        <img src="../../../../assets/images/efesVSbarca.png" alt="Image"> 
        <div class="text">RS Round 1 Highlights:Efes <br>64-74 Barcelona<hr> </div>  
        
    </div>
    <div class="video"> 
            <img src="../../../../assets/images/efesVSbarca.png" alt="Image"> 
            <div class="text">RS Round 1 Highlights:Efes <br>64-74 Barcelona<hr> </div>        
            
    </div>
    <div class="video"> 
                <img src="../../../../assets/images/efesVSbarca.png" alt="Image"> 
                <div class="text">RS Round 1 Highlights:Efes <br>64-74 Barcelona<hr> </div>
                
    </div>
    <div class="video"> 
                    <img src="../../../../assets/images/efesVSbarca.png" alt="Image"> 
                    <div class="text">RS Round 1 Highlights:Efes <br>64-74 Barcelona<hr> </div>
                    
                    
    </div>