<div class="match" id="theMatch">
  

    <div class="video_container">
        <video controls #myVideo>
            <source src="../../../../assets/match_video/RealvsMacabi.mp4" type="video/mp4" />
        </video>

    </div>


</div>

<div class="main">
    <ami-fullstack-sidebar-menu class="sidemenu" id="sidemenu"></ami-fullstack-sidebar-menu>


    <div class="row">
        <ami-fullstack-first-match class="first one" image_team1="../../../../assets\images\real_madrid.png"
            text_time="&nbsp;1'" image_team2="../../../../assets\images\maccabi.png" text_score="&nbsp;0 - 0"
            play_image="../../../../assets\images\play_button.png"></ami-fullstack-first-match>
        <ami-fullstack-upcoming-match class="upcoming" team1="../../../../assets\images\Olympiacos.png"
            team2="../../../../assets\images\Panathinaikos.png" date="OCT 03" time="22:45 CET">
        </ami-fullstack-upcoming-match>
        <ami-fullstack-upcoming-match class="upcoming" team1="../../../../assets\images\Zalgiris.png"
            team2="../../../../assets\images\Barcelona.png" date="OCT 04" time="20:45 CET">
        </ami-fullstack-upcoming-match>
        <ami-fullstack-upcoming-match class="upcoming2" team1="../../../../assets\images\Milano.png"
            team2="../../../../assets\images\Fenerbahce.png" date="OCT 04" time="22:45 CET">
        </ami-fullstack-upcoming-match>
        <ami-fullstack-upcoming-match class="upcoming2" team1="../../../../assets\images\Milano.png"
            team2="../../../../assets\images\Fenerbahce.png" date="OCT 04" time="22:45 CET">
        </ami-fullstack-upcoming-match>
        <ami-fullstack-upcoming-match class="upcoming3" team1="../../../../assets\images\Milano.png"
            team2="../../../../assets\images\Fenerbahce.png" date="OCT 04" time="22:45 CET">
        </ami-fullstack-upcoming-match>
    </div>

</div>