
.sidemenu{
    display: inline-block;
    width:110px;
    height: 1080px;
    overflow-x: hidden;
}
.main{
    
    background-image:url('../../../../assets/images/EuroleagueTV.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1080px;
    float: left;
    overflow: hidden;
}
.row{
    width:auto;
    margin-top:-14.5%;
    margin-left: 110px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
   
