<ami-fullstack-team-header-tag class="Header" image="../../../../assets/images/main_menu_mobile.png" page_title="AXM">
</ami-fullstack-team-header-tag>
<div class="main">
    <ami-fullstack-team-logo-heart></ami-fullstack-team-logo-heart>
    <div class="container">
        <ami-fullstack-specific-article image="../../../../../assets/images/Scola_news.png"
            title="LUIS SCOLA, “EL CAPITAN“"
            text="The Captain, he’s a symbol, an icon, a little bit of everything, but above all, he’s the link between the..."
            date="Oct 10, 2019"></ami-fullstack-specific-article>
        <ami-fullstack-specific-article image="../../../../../assets/images/Mack_news.png" title="INJURY STATEMENT"
            text="Olimpia Milan announces that the player Shelvin Mack has reported a strained adductor muscle of his ..."
            date="Oct 9, 2019"></ami-fullstack-specific-article>
        <ami-fullstack-specific-article image="../../../../../assets/images/Sergi_news.png"
            title="OLIMPIA-TRIESTE 88-73"
            text="Olimpia led wire to wire and defeated Trieste 88-73, with five double-digit scorers led by Michael R..."
            date="Oct 7, 2019"></ami-fullstack-specific-article>
            <ami-fullstack-specific-article image="../../../../../assets/images/Rey.png"
            title="OLIMPIA SIGNED XAVI REY"
            text="Pallacanestro Olimpia Milan agreed on terms with Xavi Rey, who originally joined the team for the le..."
            date="Oct 6, 2019"></ami-fullstack-specific-article>
            <ami-fullstack-specific-article image="../../../../../assets/images/team.png"
            title="OLIMPIA VS MONACO"
            text="Olimpia Milano's squad report is ready and no one will be missing from the big clash against Monaco..."
            date="Sep 10, 2019"></ami-fullstack-specific-article>
    </div>

</div>