<div>
    <ami-fullstack-schedule-date date="Thursday, Oct 3"></ami-fullstack-schedule-date>
</div>

<div>
    <mobile-matchup
    team1 ="Read Madrid"
    team2="Maccabi FOX Tel Aviv"
    logo1="../../../../assets/images/real_madrid.png"
    logo2="../../../../assets/images/maccabi.png"
    time="20:45 CET">
    </mobile-matchup>
</div>

<div>
    <mobile-matchup
    team1 ="Olympiacos Piraeus"
    team2="Panathinaikos OPAP Athens"
    logo1="../../../../assets/images/Olympiacos.png"
    logo2="../../../../assets/images/Panathinaikos.png"
    time="22:45 CET">
    </mobile-matchup>
</div>

<div>
    <ami-fullstack-schedule-date date="Friday, Oct 4"></ami-fullstack-schedule-date>
</div>

<div>
    <mobile-matchup
    team1 ="Zalgiris Kaunas"
    team2="BC Barcelona"
    logo1="../../../../assets/images/Zalgiris.png"
    logo2="../../../../assets/images/Barcelona.png"
    time="20:45 CET">
    </mobile-matchup>
</div>

<div>
    <mobile-matchup
    team1 ="Olimpia Armani Milano"
    team2="Fenerbahce Becko Instanbul"
    logo1="../../../../assets/images/Olimpia.png"
    logo2="../../../../assets/images/Fenerbahce.png"
    time="22:45 CET">
    </mobile-matchup>
</div>