<div class="menu">
    <span class="player_profile">
        <span>
            <img src="../../../../assets/images/Wall_Images/pao_flag.png" />
        </span>
        <span>
            <div class="team_name">
                <h1>PANATHINAIKOS<br> SUPERFOODS</h1>
            </div>
        </span>
        <div class="playerSTATS">
            <div class="titleStats">
                <h2>Stats</h2>
            </div>
            <div class="StatsArray">
                <span>
                    <div class="statsTitle">
                        <h4>GAMES</h4>
                    </div>

                    <div class="statsNum">
                        <h3>29</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>PTS</h4>
                    </div>

                    <div class="statsNum">
                        <h3>411</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>PIR</h4>
                    </div>

                    <div class="statsNum">
                        <h3>411</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>REB</h4>
                    </div>

                    <div class="statsNum">
                        <h3>84</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>ASS</h4>
                    </div>

                    <div class="statsNum">
                        <h3>44</h3>
                    </div>
                </span>
            </div>
            <div class="StatsArray2">
                <span>
                    <div class="statsTitle">
                        <h4>STEALS</h4>
                    </div>

                    <div class="statsNum">
                        <h3>32</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>2FG</h4>
                    </div>

                    <div class="statsNum">
                        <h3>79<span>/159</span></h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>3FG</h4>
                    </div>

                    <div class="statsNum">
                        <h3>59<span>/171</span></h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>FT</h4>
                    </div>

                    <div class="statsNum">
                        <h3>76<span>/85</span></h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>PTS/GAME</h4>
                    </div>

                    <div class="statsNum">
                        <h3>14.2</h3>
                    </div>
                </span>
            </div>
        </div>
    </span>
    <span class="carrer_notes">
        <div>
            <h1>Club Informations</h1>
        </div>
        <div>
            <p>
                A giant not only in Greek sports but also in continental basketball, <b>Panathinaikos</b> stands as the
                mightiest force in the EuroLeague since the dawn of the Final Four era in 1988, with a whopping <b>six
                EuroLeague titles</b> won between 1996 and 2011. <br> <br>
                Greens first took charge of Greek basketball with 12
                domestic titles over a 17-year stretch between 1967 and 1984. <br><br>
                After a dry period, <b>Panathinaikos</b> bounced
                back to become a top team in Europe. In 1996, <b>Panagiotis Giannakis</b>, <b>Dominique Wilkins</b> and <b>Fragiskos
                Alvertis</b> came together and secured the first EuroLeague title by a Greek team.
            </p>
        </div>

    </span>
</div>