<ami-fullstack-header-tag image="../../../../assets/images/main_menu_mobile.png" page_title="SmartTV Control">
</ami-fullstack-header-tag>

<div class="menu" *ngIf="hide_the_rest_page">
    <div class="extra-menu">
        <span> <img src="../../../../assets/remotecontrol/settings.png"> </span>
        <span class="live"> <img src="../../../../assets/remotecontrol/live.png"> </span>
        <span> <img src="../../../../assets/remotecontrol/multi_screens.png"> </span>
    </div>
    
    <div class="nav-menu">
        <div class="up"> <img src="../../../../assets/remotecontrol/up.png"> </div>
        <div>
            <span class="left"> <img src="../../../../assets/remotecontrol/left.png"> </span>
            <span class="ok"> <img src="../../../../assets/remotecontrol/ok.png"> </span>
            <span class="right"> <img src="../../../../assets/remotecontrol/right.png"> </span>
        </div>
        <div class="down"> <img src="../../../../assets/remotecontrol/down.png"> </div>
    </div>

    <div class="play-menu">
        <span> <img src="../../../../assets/remotecontrol/rewind_left.png"> </span>
        <span class="play-pause"> <img src="../../../../assets/remotecontrol/pause.png"> </span>
        <span> <img src="../../../../assets/remotecontrol/rewind_right.png"> </span>
    </div>

    <div class="volume-menu">
        <span> <img src="../../../../assets/remotecontrol/volume.png"> </span>
    </div>


</div>