<ami-fullstack-header-tag image="../../../../assets/images/main_menu_mobile.png" page_title="SmartTV Control">
</ami-fullstack-header-tag>

<div class="menu" *ngIf="hide_the_rest_page">
    <div class="extra-menu">
        <span> <img src="../../../../assets/remotecontrol/settings.png"> </span>
        <span class="menu" (click)="open_menu()"> <img src="../../../../assets/remotecontrol/menu.png"> </span>
        <span class="exit" (click) = "exit_video()"> <img src="../../../../assets/remotecontrol/exit.png"> </span>
    </div>
    
    <div class="nav-menu">
        <div class="up" (click) = "control_menuTV('up')"> <img src="../../../../assets/remotecontrol/up.png"> </div>
        <div>
            <span class="left" (click) = "control_menuTV('left')"> <img src="../../../../assets/remotecontrol/left.png"> </span>
            <span class="ok" (click) = "control_menuTV('ok')"> <img src="../../../../assets/remotecontrol/ok.png"> </span>
            <span class="right" (click) = "control_menuTV('right')"> <img src="../../../../assets/remotecontrol/right.png"> </span>
        </div>
        <div class="down" (click) = "control_menuTV('down')"> <img src="../../../../assets/remotecontrol/down.png"> </div>
    </div>

    <div  class="play-menu">
        <span> <img src="../../../../assets/remotecontrol/rewind_left.png"> </span>
        <span class="play-pause" (click)="play_pause()"> <img  src={{play_image}}> </span>
        <span> <img src="../../../../assets/remotecontrol/rewind_right.png"> </span>
    </div>

    <div class="volume-menu">
        <span> <img src="../../../../assets/remotecontrol/volume.png"> </span>
    </div>


</div>