

<div>
    <div class="statistics">
        <span class="points"> 
            <h1>Points</h1>
            <div class="player1">
                <span><img src="/players/campazzoS.png"></span>
                <span>
                    <h2>CAMPAZZO, FACUNDO</h2>
                    <span>
                        <h3>#6 Guard</h3>
                        <h3>Argentina</h3>
                    </span> <span><h3 class ="statistics_num"> 22 </h3></span>
                </span>
            </div>
            <div class="player2">
                <span><img src="/players/dorseyS.png"></span>
                <span>
                    <h2>DORSEY, TYLER</h2>
                    <span>
                        <h3>#8 Guard</h3>
                        <h3>Greece</h3>
                    </span> <span><h3 class ="statistics_num"> 22 </h3></span>
                </span>
            </div>
            <div class="player3">
                <span><img src="/players/carollS.png"></span>
                <span>
                    <h2>CARROLL, JAYCE</h2>
                    <span>
                        <h3>#12 Guard</h3>
                        <h3>USA</h3>
                    </span> <span><h3 class ="statistics_num">1</h3></span>
                </span>
            </div>
        </span>
        <span class="assists"> 
            <h1>Assists</h1>
            <div class="player1">
                <span><img src="/players/campazzoS.png"></span>
                <span>
                    <h2>CAMPAZZO, FACUNDO</h2>
                    <span>
                        <h3>#6 Guard</h3>
                        <h3>Argentina</h3>
                    </span> <span><h3 class ="statistics_num"> 12 </h3></span>
                </span>
            </div>
            <div class="player2">
                    <span><img src="/players/dorseyS.png"></span>
                    <span>
                        <h2>DORSEY, TYLER</h2>
                        <span>
                            <h3>#8 Guard</h3>
                            <h3>Greece</h3>
                        </span> <span><h3 class ="statistics_num"> 22 </h3></span>
                    </span>
                </div>
            <div class="player3">
                <span><img src="/players/carollS.png"></span>
                <span>
                    <h2>CARROLL, JAYCE</h2>
                    <span>
                        <h3>#12 Guard</h3>
                        <h3>USA</h3>
                    </span> <span><h3 class ="statistics_num">7</h3></span>
                </span>
            </div>
        </span>
        <span class="blocks"> 
            <h1>Blocks</h1>
            <div class="player1">
                <span><img src="/players/tavaresS.png"></span>
                <span>
                    <h2>TAVARES, EDY</h2>
                    <span>
                        <h3>#22 Center</h3>
                        <h3>Cape Verde</h3>
                    </span> <span><h3 class ="statistics_num"> 6 </h3></span>
                </span>
            </div>
            <div class="player2">
                <span><img src="/players/randolphS.png"></span>
                <span>
                    <h2>RANDOLPH, ANTHONY</h2>
                    <span>
                        <h3>#20 Center</h3>
                        <h3>Slovenia</h3>
                    </span> <span><h3 class ="statistics_num"> 3 </h3></span>
                </span>
            </div>
            <div class="player3">
                <span><img src="/players/acyS.png"></span>
                <span>
                    <h2>ACY QUINCY</h2>
                    <span>
                        <h3>#10 Center</h3>
                        <h3>USA</h3>
                    </span> <span><h3 class ="statistics_num">2</h3></span>
                </span>
            </div>
        </span>
        <span class="rebounds"> 
            <h1>Rebounds</h1>
            <div class="player1">
                <span><img src="/players/tavaresS.png"></span>
                <span>
                    <h2>TAVARES, EDY</h2>
                    <span>
                        <h3>#22 Center</h3>
                        <h3>Cape Verde</h3>
                    </span> <span><h3 class ="statistics_num"> 12 </h3></span>
                </span>
            </div>
            <div class="player2">
                <span><img src="/players/randolphS.png"></span>
                <span>
                    <h2>RANDOLPH, ANTHONY</h2>
                    <span>
                        <h3>#20 Center</h3>
                        <h3>Slovenia</h3>
                    </span> <span><h3 class ="statistics_num"> 7 </h3></span>
                </span>
            </div>
            <div class="player3">
                <span><img src="/players/acyS.png"></span>
                <span>
                    <h2>ACY QUINCY</h2>
                    <span>
                        <h3>#10 Center</h3>
                        <h3>USA</h3>
                    </span> <span><h3 class ="statistics_num">6</h3></span>
                </span>
            </div>
        </span>
    </div>
</div>

