.box{
    width:904px;
    height: 380px;
    display: inline-block;
}
.watchlists{
    width: 95px;
    height: auto;
    margin-left:46%;
    margin-top:2%;
}
.teams{
    width:900px;
    height: auto;
    display: inline-block;
    margin-top:-10%;
}

.teams1 img{
    width: 130px;
    height: auto;
}
.teams1{
    width: 200px;
    margin-left:10%;
}

.teams2 img{
    width:150px;
    height: auto;
}
.teams2{
    width: 200px;
    margin-left:75%;
    margin-top: -17%;
}

.times{
    font-size: 45px;
    font-weight: bold;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 38%;
    margin-top:-6%;
}

.texts{
    width:900px;
    height: auto;
    display: inline-block;
    margin-top:1%;
}
.text1{
    font-size: 45px;
    font-weight: regular;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width:267px ;
    height: 106px;
    text-align: center;
    margin-left: 4%;
}
.text2{
    font-size: 45px;
    font-weight: regular;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width: 267px; 
    height: 106px;
    text-align: center;
    margin-left: 68%;
    margin-top:-12%;
}