<div class="menu">
    <span class="player_profile">
        <span>
            <img src="../../../../assets/images/Wall_Images/wall_player_profile/Punter_photo.png" />
        </span>
        <span>
            <div>
                <h1>PUNTER, <br> KEVIN XAVIER</h1>
            </div>
            <div class="playerinfo1">
                <span>
                    <div>
                        <h4>Position</h4>
                    </div>

                    <div class="sec_row">
                        <h3>PG</h3>
                    </div>
                </span>
                <span>
                    <div>
                        <h4>Age</h4>
                    </div>
                    <div class="sec_row">
                        <h3>27</h3>
                    </div>
                </span>
                <span>
                    <div>
                        <h4>Height</h4>
                    </div>
                    <div class="sec_row">
                        <h3>1.93</h3>
                    </div>
                </span>
                <span class="team_logo">
                    <div>
                        <h4>Team</h4>
                    </div>
                    <div class="sec_row"><img
                            src="../../../../assets/images/Wall_Images/wall_player_profile/osfp_flag.png" /></div>
                </span>
                <span>
                    <div>
                        <h4>Nationality</h4>
                    </div>
                    <div class="sec_row"> <img
                            src="../../../../assets/images/Wall_Images/wall_player_profile/usa_flag.png" /></div>
                </span>
            </div>
        </span>
        <div class="playerSTATS">
            <div class="titleStats">
                <h2>Stats</h2>
            </div>
            <div class="StatsArray">
                <span>
                    <div class="statsTitle">
                        <h4>GAMES</h4>
                    </div>

                    <div class="statsNum">
                        <h3>3</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>PTS</h4>
                    </div>

                    <div class="statsNum">
                        <h3>25</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>PIR</h4>
                    </div>

                    <div class="statsNum">
                        <h3>13</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>REB</h4>
                    </div>

                    <div class="statsNum">
                        <h3>3</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>ASS</h4>
                    </div>

                    <div class="statsNum">
                        <h3>5</h3>
                    </div>
                </span>
            </div>
            <div class="StatsArray2">
                <span>
                    <div class="statsTitle">
                        <h4>STEALS</h4>
                    </div>

                    <div class="statsNum">
                        <h3>2</h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>2FG</h4>
                    </div>

                    <div class="statsNum">
                        <h3>8<span>/16</span></h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>3FG</h4>
                    </div>

                    <div class="statsNum">
                        <h3>5<span>/20</span></h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>FT</h4>
                    </div>

                    <div class="statsNum">
                        <h3>8<span>/10</span></h3>
                    </div>
                </span>
                <span>
                    <div class="statsTitle">
                        <h4>PTS/GAME</h4>
                    </div>

                    <div class="statsNum">
                        <h3>8.1</h3>
                    </div>
                </span>
            </div>
        </div>
    </span>
    <span class="carrer_notes">
        <div>
            <h1>Carrer Notes</h1>
        </div>
        <div>
            <p>
                - Played college basketball at State Fair CC and at
                    <b>University of Tennessee</b> (2014-16). <br><br>
                - Moved to Poland for the 2017-18 season, signed by <b>Rosa Radom</b>.<br><br>
                - In February 18' moved to Greece, signed by <b>AEK Athens</b>.<br><br>
                - Moved to Italy for the 2018-19 season, signed by <b>Virtus Bologna</b>.<br><br>
                - Moved to Greece for the 2019-20 season, signed by <b>Olympiacos Piraeus</b>.
            </p>
        </div>

    </span>
</div>