<ami-fullstack-header-tag image="../../../../assets/images/back_arrow.png" page_title="News">
</ami-fullstack-header-tag>
<div class="main">
    <div class="image_holder">
        <img src="../../../../assets/images/CSKA_roster.png">
    </div>
    <div class="head_title">
        Roster Rundown: CSKA Moscow
    </div>
    <div class="author_date">
        <div class="text1">by Euroleague.net</div>
        <div class="VL"></div>
        <div class="text2">Oct 02, 2019</div>
    </div>
    <div class="main_text">
        The defending Turkish Airlines EuroLeague champions have made significant changes this past summer, and no
        addition has made more noise than the arrival of last season's Alphonso Ford Trophy winner, Mike James. However,
        he's just one of four new pieces in CSKA's backcourt. James will be sharing playmaking duties with a EuroLeague
        newcomer, Ron Baker, as well as with veteran sharpshooter Janis Strelnieks. Swingman Darrun Hilliard is a an
        athletic presence at the wings who is looking to build on his first EuroLeague season, while CSKA's frontcourt
        became more versatile with the arrivals of big men Johannes Voigtmann and Kostas Koufos, the latter of whom is
        set to make his EuroLeague debut after 11 seasons in the NBA.
    </div>
    <div class="full_team">
        <img src="../../../../assets/images/Full_squad.png">
    </div>
    <div class="IN">
        <span class="Arr">Arrivals</span>
        <ul>
            <li>
                Darrun Hilliard(SG/F)
            </li>
            <li>
                Ron Baker (G)
            </li>
            <li>
                Mike James (PG)
            </li>
            <li>
                Johannes Voigtmann (PF/C)
            </li>
            <li>
                Janis Strelnieks (PG)
            </li>
            <li>
                Kostas Koufos (C)

            </li>
        </ul>
    </div>
    <div class="OUT">
       <span class="Dep">Departures</span>
        <ul>
            <li>
                Alec Peters (PF)
            </li>
            <li>
                Othello Hunter (C)
            </li>
            <li>
                Nando De Colo (SG)
            </li>
            <li>
                Cory Higgins (SG/F)
            </li>
            <li>
                Sergio Rodriguez (PG)
            </li>
        </ul>
    </div>
</div>