<link rel="stylesheet" href="style.css">

<div class="all">
    <div class="row">
        <img src="../../../../assets/images/controller/larrow.png" alt=""> 
        <img src="../../../../assets/images/controller/zoom.png" class="zoom" alt=""> <br>
    </div>
    

    <img src="../../../../assets/images/controller/arrows.png" class="row" id="arrows" alt=""> <br>
    <img src="../../../../assets/images/controller/play.png" class="row" alt=""> <br>
    <img src="../../../../assets/images/controller/live.png" class="row" alt=""> <br>
    <img src="../../../../assets/images/controller/volume.png" class="row" alt=""> <br>
</div>