img{
    min-height: 160px;
    min-width: auto;
}

.all{
    text-align: center;
}

.row{
    margin-bottom: 10%;
}

#arrows{
    min-height: 600px;
    width: auto;
}

.zoom{
    margin-left: 60%;
}