<body>
    <div class="team1_area">
            
            <div class="anapliromatikoi">
                <span class="player_anap">
                    <div> <h4> nameplayer </h4> </div>
                    <div>  <img src="/players/acyS.png"> </div>
                </span>
                <span class="player_anap">
                    <div> <h4> nameplayer </h4> </div>
                    <div>  <img src="/players/acyS.png" > </div>
                </span>
                <span class="player_anap">
                    <div> <h4> nameplayer </h4> </div>
                    <div>  <img src="/players/acyS.png" > </div>
                </span>
                <span class="player_anap">
                    <div> <h4> nameplayer </h4> </div>
                    <div>  <img src="/players/acyS.png" > </div>
                </span>
                <span class="player_anap">
                    <div> <h4> nameplayer </h4> </div>
                    <div>  <img src="/players/acyS.png" > </div>
                </span>
                <span class="player_anap">
                    <div> <h4> nameplayer </h4> </div>
                    <div>  <img src="/players/acyS.png" > </div>
                </span>
                <span class="player_anap">
                    <div> <h4> nameplayer </h4> </div>
                    <div>  <img src="/players/acyS.png" > </div>
                </span>
            </div>
            <span> <img src = "players/real_madrid.png"> </span>
            <div class="start5">
                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>
                    <span class="borderrr">
                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>
                </span>
                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>


            </div>
    </div>
       
            <div class= "xronometro">
                <span>
                    <div>
                        <span><img/> </span>
                        <span><h1>28</h1></span>
                    </div>
                    <div>
                        <span></span>
                        <span><h1>21</h1></span>
                    </div>
                </span>
                <span>
                        <span><h1>1QT</h1></span> <span><h1>0:41</h1></span> <span><h1>24'</h1></span>
                </span>
                <span></span>
            </div>
        <span> <img src = "players/real_madrid.png"> </span> 
    <div class="team1_area">
            <div class="start5">

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>

                <span class="player1_team1">
                    <span class="player_image"> <img src="/players/acyS.png"> </span>

                    <span class="player1_team1_box">
                        <div class="playername"><p>PLAYERNAME</p></div> 
                        <div  class="statsdiv" >
                            <span class="stats">
                                <p><span>7</span> PTS</p>
                                <p><span>14</span> ASS</p>
                                <p><span>23</span> REB</p>
                            </span>
                            
                        </div>
                        <div class="playerpos"><p>POS</p></div> 
                    </span>

                    <span class ="fouls">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </span>
                </span>


            </div>

            <div class="anapliromatikoi">
                <span class="player_anap">
                    <div>  <img src="/players/acyS.png"> </div>
                    <div> <h4> nameplayer </h4> </div>
                </span>
                <span class="player_anap">
                    <div>  <img src="/players/acyS.png" > </div>
                    <div> <h4> nameplayer </h4> </div>
                </span>
                <span class="player_anap">
                    <div>  <img src="/players/acyS.png" > </div>
                    <div> <h4> nameplayer </h4> </div>
                </span>
                <span class="player_anap">
                    <div>  <img src="/players/acyS.png" > </div>
                    <div> <h4> nameplayer </h4> </div>
                </span>
                <span class="player_anap">
                    <div>  <img src="/players/acyS.png" > </div>
                    <div> <h4> nameplayer </h4> </div>
                </span>
                <span class="player_anap">
                    <div>  <img src="/players/acyS.png" > </div>
                    <div> <h4> nameplayer </h4> </div>
                </span>
                <span class="player_anap">
                    <div>  <img src="/players/acyS.png" > </div>
                    <div> <h4> nameplayer </h4> </div>
                </span>
            </div>
               
                
       
    </div>