
span{
    display: inline-block;
}

.Background{
    height: 1080px;
    width: 1920px;
    background-image: url("../../../../assets/background/TableBackground.png");
}
.substitutes_team1{
    margin-left: 12%;
    height: 300 px;
}



.start_player{
    margin-left: 5%;
}

.startings_team1{
    height: 260px;
    margin-top: -8.5%;
    margin-left: 15%;
}

.substitutes_team2{
    margin-top: -1%;
    margin-left: 12%;
    height: 300 px;
}

.startings_team2{
    height: 260px;
    margin-top: 1%;
    margin-left: 15%;
}

.match_table{
    height: 160px;
}

.RealImage{
    margin-top: -6%;
    margin-left: 3%;
}

.MaccabiImage{
    margin-top: -8%;
    margin-left: 3%;
}

.Realscore{
    margin-top: -6%;
    margin-left: 8%;
}

.Realscore h1{
    height: 120px;
    width: 120px;
    color: #FA5500;
    font-size: 120px;
}

.Maccabiscore{
    margin-top: -1%;
    margin-left: 8%;
}

.Maccabiscore h1{
    height: 120px;
    width: 120px;
    color: white;
    font-size: 120px;
}

.timer p{
    margin-left: -18%;
    color: white;
    font-size: 100px;
}

.timer{
    margin: auto;
    font-weight: bold;
    margin-bottom: -5%;
    margin-left: 40%;
}
.timer span{
    font-size: 65px
}

.coach_team1{
    text-align: center;
    margin-left: 86%;
    margin-top: -22.5%;
}

.coach_team2{
    text-align: center;
    margin-left: 86%;
    margin-top: -15.5%;
}

.coach_team1 h4, .coach_team2 h4{
    color: white;
}


.fouls_team1{
    margin-left: -8%;
    margin-top: -3%;
}


.score_team1{
    margin-left: 6%;
    margin-top: -2%;
}

.fouls_team2{
    margin-left: -8%;
    margin-top: 5%;
}

.score_team2{
    position: relative;
    top: -80px;
    margin-left: 6%;
}


.dot {
    text-align: right;
    height: 20px;
    width: 20px;
    background-color: rgb(190, 0, 0);
    border-radius: 50%;
    margin-bottom: 50%;
}
