
span{
    display: inline-block;
}

.Background{
    height: 1080px;
    width: 1920px;
    background-image: url("../../../../assets/background/TableBackground.png");
}
.substitutes_team1{
    margin-left: 9%;
    height: 300 px;
}

.sub_player{
    margin-left: 6%;
}

.start_player{
    margin-left: 5%;
}

.startings_team1{
    height: 260px;
    margin-top: -8.5%;
    margin-left: 16%;
}

.substitutes_team2{
    margin-top: -1%;
    margin-left: 9%;
    height: 300 px;
}

.startings_team2{
    height: 260px;
    margin-top: 1%;
    margin-left: 16%;
}

.match_table{
    height: 160px;
}

.RealImage{
    margin-top: -6%;
    margin-left: 3%;
}

.MaccabiImage{
    margin-top: -8%;
    margin-left: 3%;
}

.Realscore{
    margin-top: -6%;
    margin-left: 8%;
}

.Realscore h1{
    height: 120px;
    width: 120px;
    color: chocolate;
    font-size: 120px;
}

.Maccabiscore{
    margin-top: -1%;
    margin-left: 8%;
}

.Maccabiscore h1{
    height: 120px;
    width: 120px;
    color: white;
    font-size: 120px;
}

.timer p{
    color: white;
    font-size: 90px;
}

.timer{
    margin-bottom: -5%;
    margin-left: 40%;
}

