<!--<ami-fullstack-substitute-player name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
-->
<!--
<ami-fullstack-starting-player playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
-->
<div class="Background">
    <div>
        <div class="substitutes_team1">
            <ami-fullstack-substitute-player class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player>
        </div>

        <div class="RealImage"> <img src="../../../../assets/images/LargeRealMadridTable.png"/> </div>

        <div class="startings_team1">
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
        </div>
    </div>
    <div class="match_table">
        <span class="team_fouls">
            <div class="Realfouls">  
                
            </div>
            <div class="Maccabifouls"> 
                
            </div>
        </span>
        
        <div class="Realscore">
            <h1>28</h1>  
        </div>

        <span class="timer">
            <p>  1QT  0:41  24'  </p>
        </span>

        <div class="Maccabiscore"> 
            <h1>21</h1>  
        </div>
        
        
    </div>
    <div>
        <div class="startings_team2">
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-starting-player>  
        </div>

        <div class="MaccabiImage"> <img src="../../../../assets/images/LargeMaccabiTable.png"/> </div>

        <div class="substitutes_team2">
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png"></ami-fullstack-substitute-player-bottom>
        </div>
    </div>
</div>