
<div class="Background">
    <div>
        <div class="substitutes_team1">
            <ami-fullstack-substitute-player class="sub_player" name="LLULL" img_src="../../../../assets/images/llull.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="FERNANDEZ" img_src="../../../../assets/images/fernandes.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="DECK" img_src="../../../../assets/images/deck.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="MICKEY" img_src="../../../../assets/images/mickey.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="LAPROVITLA" img_src="../../../../assets/images/laprovitola.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="CAUSEUR" img_src="../../../../assets/images/causeur.png"></ami-fullstack-substitute-player>
            <ami-fullstack-substitute-player class="sub_player" name="REYES" img_src="../../../../assets/images/reyes.png"></ami-fullstack-substitute-player>
        </div>

        <div class="RealImage"> <img src="../../../../assets/images/LargeRealMadridTable.png"/> </div>

        <div class="startings_team1">
            <ami-fullstack-starting-player class="start_player" playerposition="PG" playername="CAMPAZZO" img_src="../../../../assets/images/campazzoS.png" player_points="{{team1['player1'].pts}}" player_assists="{{team1['player1'].ass}}" player_rebounds="{{team1['player1'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="CARROLL" img_src="../../../../assets/images/carollS.png" player_points="{{team1['player2'].pts}}" player_assists="{{team1['player2'].ass}}" player_rebounds="{{team1['player2'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SF" playername="TAYLOR" img_src="../../../../assets/images/taylorS.png" player_points="{{team1['player3'].pts}}" player_assists="{{team1['player3'].ass}}" player_rebounds="{{team1['player3'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="PF" playername="RANDOLPH" img_src="../../../../assets/images/randolphS.png" player_points="{{team1['player4'].pts}}" player_assists="{{team1['player4'].ass}}" player_rebounds="{{team1['player4'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="C" playername="TAVARES" img_src="../../../../assets/images/tavaresS.png" player_points="{{team1['player5'].pts}}" player_assists="{{team1['player5'].ass}}" player_rebounds="{{team1['player5'].reb}}"></ami-fullstack-starting-player>
            
            <div class="coach_team1">
                <h4>P.LASSO</h4>
                <img src="../../../../assets/images/CoachLasso.png"/>
            </div>
            


        </div>
    </div>
    <div class="match_table">
        <span class="team_fouls">
            <div class="Realfouls">  
                
            </div>
            <div class="Maccabifouls"> 
                
            </div>
        </span>
        
        <div class="Realscore">
            <span class ="fouls_team1">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </span>
            <span class ="score_team1">  <h1>{{team1['score']}}</h1>  </span>
        </div>

        <span class="timer">
            
            <p>  1 <span>QT</span> &nbsp;&nbsp;&nbsp;&nbsp; 0<span id="timer3">9</span>:<span id="timer">59</span>
                  &nbsp;&nbsp;&nbsp;&nbsp; <span id="timer2">24</span>'  </p>
        </span>

        <div class="Maccabiscore"> 
            <span class ="fouls_team2">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </span>
            <span class ="score_team2">  <h1>{{team2['score']}}</h1>  </span> 
        </div>
        
        
    </div>
    <div>
        <div class="startings_team2">
            <ami-fullstack-starting-player class="start_player" playerposition="PG" playername="WILBEKIN" img_src="../../../../assets/images/wilbekin.png" player_points="{{team2['player1'].pts}}" player_assists="{{team2['player1'].ass}}" player_rebounds="{{team2['player1'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SG" playername="T.DORSEY" img_src="../../../../assets/images/dorsey.png" player_points="{{team2['player2'].pts}}" player_assists="{{team2['player2'].ass}}" player_rebounds="{{team2['player2'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="SF" playername="BLACK" img_src="../../../../assets/images/black.png" player_points="{{team2['player3'].pts}}" player_assists="{{team2['player3'].ass}}" player_rebounds="{{team2['player3'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="PF" playername="ACY" img_src="../../../../assets/images/ace.png" player_points="{{team2['player4'].pts}}" player_assists="{{team2['player4'].ass}}" player_rebounds="{{team2['player4'].reb}}"></ami-fullstack-starting-player>
            <ami-fullstack-starting-player class="start_player" playerposition="C" playername="O.HUNTER" img_src="../../../../assets/images/hunter.png" player_points="{{team2['player5'].pts}}" player_assists="{{team2['player5'].ass}}" player_rebounds="{{team2['player5'].reb}}"></ami-fullstack-starting-player>  
            
            <div class="coach_team2">
                <img src="../../../../assets/images/Coach_sfairo.png"/>
                <h4>SFAIROPOULOS</h4>
            </div>
            

        </div>

        <div class="MaccabiImage"> <img src="../../../../assets/images/LargeMaccabiTable.png"/> </div>

        <div class="substitutes_team2">
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CASSPI" img_src="../../../../assets/images/casspi.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="ZOOSMAN" img_src="../../../../assets/images/zoosman.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="DIBARTOLOMEO" img_src="../../../../assets/images/dibartolomeo.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="WOLTERS" img_src="../../../../assets/images/wolters.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="BRYANT" img_src="../../../../assets/images/bryant.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="CALOIARO" img_src="../../../../assets/images/caloiaro.png"></ami-fullstack-substitute-player-bottom>
            <ami-fullstack-substitute-player-bottom class="sub_player" name="SAHAR" img_src="../../../../assets/images/sahar.png"></ami-fullstack-substitute-player-bottom>
        </div>
    </div>
</div>