span{
    display: inline-block;
    vertical-align: middle;
}

.menu{
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    width: 393px;
    height: 851px;
    background-color: rgb(37, 37, 37);
}



