<div class="menu">
    <ami-fullstack-header-tag page_title="Home" image="../../../../assets/images/main_menu_mobile.png"></ami-fullstack-header-tag>

    <ami-fullstack-choise title="Home" image="../../../../../assets/images/icons/home.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="News" image="../../../../../assets/images/icons/news.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Schedule" image="../../../../../assets/images/icons/calendar.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Videos" image="../../../../../assets/images/icons/video.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Teams" image="../../../../../assets/images/icons/basketball-ball.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Players" image="../../../../../assets/images/icons/user.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Standings" image="../../../../../assets/images/icons/ranking.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Watchlist" image="../../../../../assets/images/icons/eye.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Favorites" image="../../../../../assets/images/icons/heart.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="SmartTv Control" image="../../../../../assets/images/icons/control.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Settings" image="../../../../../assets/images/icons/settings.png"></ami-fullstack-choise>
    <ami-fullstack-choise title="Exit" image="../../../../../assets/images/icons/logout.png"></ami-fullstack-choise>

</div>