span{
    display: inline-block;
    vertical-align: middle;
}

.watchlist{
    text-align: right;
}

.watchlist img{
    margin-right: 2%;
}

.match-area{
    height: 110px;
    margin-top: -2%;
    text-align: center;
}

.team1-area, .team2-area{
    text-align: center;
    width: 120px;
    height: 100px;
}

.date{
    margin: 5%;
}

.image{
    text-align: center;
    margin: auto;
    width: 71px;
    height: 71px;
}

.image img{
    margin: auto;
}
