<div>
    <div class="watchlist" (click)="sendToParent()"> <img src={{watchlist}}> </div>
    <div class="match-area">
        <span class="team1-area">
            <div class="image"> <img src={{img1}} /> </div>
            <div><h6>{{name1}}</h6></div>

        </span>
        <span class="date">
            <h6>{{date}} CET</h6>
        </span>
        <span class="team2-area">
            <div class="image"> <img src={{img2}} /> </div>
            <div><h6>{{name2}}</h6></div>
        </span>
    </div>
</div>