<div class="Header">
    <span class="arrow" (click)="openMenu()" (click)="SendToParent();">
        <img src={{image}}>
    </span>
    <span class="text">
        <h4>{{page_title}}</h4>
    </span>
    <span class="TvShare">
        <img src={{link_icon}}>
    </span>
    <span class="search">
        <img src="../../../../assets/images/SearchTag.png">
    </span>

    <div *ngIf="!openMenu_flag">
        <a routerLink="/PlayersMobile/KevinPunter">
        <div class="option1"> Profile </div></a>

        <a routerLink="/PlayersMobile/KevinPunter/Statistics">
            <div class="option2"> Statistics </div>
        </a>
        <hr>
    </div>

    <div class="header-tag" *ngIf="openMenu_flag">
        <ami-fullstack-mainmenu></ami-fullstack-mainmenu>
    </div>
</div>