<ami-fullstack-team-header-tag (hide_rest_scroll)="hide_the_rest()" image="../../../../assets/images/main_menu_mobile.png" page_title="AXM"
    link_icon="../../../../assets/images/connect.png"></ami-fullstack-team-header-tag>

<div class="main"  *ngIf="hide_the_rest_page">
    <ami-fullstack-team-logo-heart></ami-fullstack-team-logo-heart>
    <div class="letter_tag"> <span class="text">Coach</span></div>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Messina.png"
        name="Messina,Ettore" position="Coach" nation="Italy"></ami-fullstack-player-profile>
    <div class="letter_tag"> <span class="text">Center</span></div>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Bhiligha.png"
        name="Biligha,Paul" position="#6 Center" nation="Italy"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Gudaitis.png"
        name="Gudaitis,Arturas" position="#7 Center" nation="Lithuania"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Kaleb.png"
        name="Tarczewski,Kaleb" position="#15 Center" nation="USA"></ami-fullstack-player-profile>

    <div class="letter_tag"> <span class="text">Forward</span></div>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Micov.png"
        name="Micov,Vladimir" position="#5 Forward" nation="Serbia"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/White.png" name="White,Aaron"
        position="#30 Forward" nation="USA"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Brooks.png" name="Brooks,Jeff"
        position="#32 Forward" nation="USA"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Scola.png" name="Scola,Luis"
        position="#40 Forward" nation="Argentina"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Burns.png"
        name="Burns,Christian" position="#23 Forward" nation="USA"></ami-fullstack-player-profile>

    <div class="letter_tag"> <span class="text">Guard</span></div>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Delle.png"
        name="Delle Valle,Amedeo" position="#0 Guard" nation="Italy"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Mack.png" name="Mack,Shelvin"
        position="#1 Guard" nation="USA"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Mora.png" name="Moraschini,Riccardo"
        position="#9 Guard" nation="Italy"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Rolle.png" name="Roll,Michael"
        position="#10 Guard" nation="USA"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Sergio.png"
        name="Rodriguez,Sergio" position="#13 Guard" nation="Spain"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Nedovic.png" name="Nedovic,Nemanja"
        position="#16 Guard" nation="Serbia"></ami-fullstack-player-profile>
    <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Cinci.png"
        name="Cinciarini,Andrea" position="#20 Guard" nation="Italy"></ami-fullstack-player-profile>




</div>