span{
    display: inline-block;
    vertical-align: middle;
}


.menu{
    margin: auto;
    margin-top: 10%;
    text-align: center;
    color: #FFFFFF;
}
button p{
    margin: auto;
    color: #FFFFFF;
}
.close_button{
    margin-top: 3%;
    font-family: Roboto;
    font-size: 50px;

    color: #FFFFFF;
}

button{
    margin: auto;
    width: 344px;
    height: 93.76px;
    background-color: transparent;

    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}

h3{
    font-size: 50px;
}

.image{
    margin-left: 1%;
}


