<ami-fullstack-sidebar-menu class="sidemenu"></ami-fullstack-sidebar-menu>
<div class="main">
        <ami-fullstack-title-tag class="Headtitle" header="Latest Videos"></ami-fullstack-title-tag>
        <div class="row">
                <ami-fullstack-video-component class="video" src_image="../../../../assets/images/efesVSbarca.png" text="RS Round 1 Highlights: Efes<br> 64-74 Barcelona"></ami-fullstack-video-component>
                <ami-fullstack-video-component class="video" src_image="../../../../assets/images/efesVSbarca.png" text="RS Round 1 Highlights: Efes<br> 64-74 Barcelona"></ami-fullstack-video-component>
                <ami-fullstack-video-component class="video" src_image="../../../../assets/images/efesVSbarca.png" text="RS Round 1 Highlights: Efes<br> 64-74 Barcelona"></ami-fullstack-video-component>
        </div>
</div>