
.main{
    background-color: #1A0700;
    margin-left: 109px;
    height: 1080px;
    overflow-x: hidden;
    overflow-y: auto;
    width: max-content;
    
}
.sidemenu{
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.row{
    overflow-x: scroll;
    overflow: hidden;
    width: 2000px;
    margin-bottom: 1.5%;
    margin-left: 0.2%;
}
.ghost{
    width:1920px;
    height: 1.5%;
}

::-webkit-scrollbar {
    display: none;
}



.video{
    border: 0px solid white;
}

.match{
    visibility: hidden;

    width:1920px; 
    height:1080px; 

    position: fixed;
    top:0; 
    left:0; 

    background-color:black; 
    
    padding:0;
    margin:0;

    z-index: 1;
}

.match video{
    width:1920px; 
    height:1080px; 
}
:host ::ng-deep .menu .options .VL {
    margin-top: 235px;
}