
.main{
    background-color: #1A0700;
    margin-left: 109px;
    height: 1080px;
    overflow-x: hidden;
    overflow-y: auto;
    width: max-content;
    
}
.sidemenu{
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.row{
    overflow-x: scroll;
    overflow: hidden;
    width: 2000px;
    margin-bottom: 1.5%;
}
.ghost{
    width:1920px;
    height: 1.5%;
}

::-webkit-scrollbar {
    display: none;
}

