<ami-fullstack-sidebar-menu></ami-fullstack-sidebar-menu>
<div class="main">
        <ami-fullstack-title-tag></ami-fullstack-title-tag>
        <div class="text1">Latest Videos</div>
        <ami-fullstack-videos-row></ami-fullstack-videos-row>
       
        <ami-fullstack-title-tag></ami-fullstack-title-tag>
        <div class="text2">Top 10</div>
        <ami-fullstack-videos-row1></ami-fullstack-videos-row1>
        <ami-fullstack-title-tag></ami-fullstack-title-tag>
        <div class="text2">Round MVP</div>
        <ami-fullstack-videos-row3></ami-fullstack-videos-row3>
        

</div>


