*{
    box-sizing: border-box;
}

.main{
    background-color: #1A0700;
    //width: 95%;
    height: 1080px;
    width: auto;
    overflow:hidden;
}

.text1{
    float: left;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top:-75px;
    margin-left:50px;
}

.text2{
    float: left;
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top:-75px;
    margin-left:50px;
}
