<div class="menu">
    <span class="points"> 
        <h1>Points</h1>
        <div class="player">
            <span><img src="assets/players/campazzoS.png"/></span>
            <span class="playerINFO">
                  <h2>CAMPAZZO, FACUNDO</h2>
                  <h3>#6 Guard</h3>
                  <h3>Argentina</h3>
            </span>
            <span class ="statistics_num"><h3> 22 </h3></span>
        </div>
        <div class="player">
            <span><img src="assets/players/dorseyS.png"></span>
            <span class="playerINFO">
                  <h2>DORSEY, TYLER</h2>
                  <h3>#8 Guard</h3>
                  <h3>Greece</h3>
            </span>
            <span class ="statistics_num"><h3> 22 </h3></span>
        </div>
        <div class="player">
            <span><img src="assets/players/carollS.png"></span>
            <span class="playerINFO">
                  <h2>CARROLL, JAYCE</h2>
                  <h3>#12 Guard</h3>
                  <h3>USA</h3>
            </span>
            <span class ="statistics_num"><h3>1</h3></span>
        </div>
    </span>
    <span class="assists"> 
        <h1>Assists</h1>
        <div class="player">
            <span><img src="assets/players/campazzoS.png"></span>
            <span class="playerINFO">
                  <h2>CAMPAZZO, FACUNDO</h2>
                  <h3>#6 Guard</h3>
                  <h3>Argentina</h3>
            </span>
            <span class ="statistics_num"><h3> 12 </h3></span>
        </div>
        <div class="player">
                <span><img src="assets/players/dorseyS.png"></span>
                <span class="playerINFO">
                      <h2>DORSEY, TYLER</h2>
                      <h3>#8 Guard</h3>
                      <h3>Greece</h3>
                </span>
                <span class ="statistics_num"><h3> 22 </h3></span>
            </div>
        <div class="player">
            <span><img src="assets/players/carollS.png"></span>
            <span class="playerINFO">
                  <h2>CARROLL, JAYCE</h2>
                  <h3>#12 Guard</h3>
                  <h3>USA</h3>
            </span>
            <span class ="statistics_num"><h3>7</h3></span>
        </div>
    </span>
    <span class="blocks"> 
        <h1>Blocks</h1>
        <div class="player">
            <span><img src="assets/players/tavaresS.png"></span>
            <span class="playerINFO">
                  <h2>TAVARES, EDY</h2>
                  <h3>#22 Center</h3>
                  <h3>Cape Verde</h3>
            </span>
            <span class ="statistics_num"><h3> 6 </h3></span>
        </div>
        <div class="player">
            <span><img src="assets/players/randolphS.png"></span>
            <span class="playerINFO">
                  <h2>RANDOLPH, ANTHONY</h2>
                  <h3>#20 Center</h3>
                  <h3>Slovenia</h3>
            </span>
            <span class ="statistics_num"><h3> 3 </h3></span>
        </div>
        <div class="player">
            <span><img src="assets/players/acyS.png"></span>
            <span class="playerINFO">
                  <h2>ACY QUINCY</h2>
                  <h3>#10 Center</h3>
                  <h3>USA</h3>
            </span>
            <span class ="statistics_num"><h3>2</h3></span>
        </div>
    </span>
    <span class="rebounds"> 
        <h1>Rebounds</h1>
        <div class="player">
            <span><img src="assets/players/tavaresS.png"></span>
            <span class="playerINFO">
                  <h2>TAVARES, EDY</h2>
                  <h3>#22 Center</h3>
                  <h3>Cape Verde</h3>
            </span>
            <span class ="statistics_num"><h3> 12 </h3></span>
        </div>
        <div class="player">
            <span><img src="assets/players/randolphS.png"></span>
            <span class="playerINFO">
                  <h2>RANDOLPH, ANTHONY</h2>
                  <h3>#20 Center</h3>
                  <h3>Slovenia</h3>
            </span>
            <span class ="statistics_num"><h3> 7 </h3></span>
        </div>
        <div class="player">
            <span><img src="assets/players/acyS.png"></span>
            <span class="playerINFO">
                  <h2>ACY QUINCY</h2>
                  <h3>#10 Center</h3>
                  <h3>USA</h3>
            </span>
            <span class ="statistics_num"><h3>6</h3></span>
        </div>
    </span>
</div>