<div class="main">
    <ami-fullstack-header-tag></ami-fullstack-header-tag>
    <div class="letter_tag"> <span class="text">A</span> </div>
    <ami-fullstack-side-letter></ami-fullstack-side-letter>
</div>
<div class="Line">
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Abalde.png"
            name="Abalde Roberto" position="#6 Forward" nation="Spain"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Abrines.png"
            name="Abrines Alex" position="#21 Forward" nation="Spain"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Abromaitis.png"
            name="Abromaitis Tim" position="#21 Forward" nation="USA"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Acy.png" name="Acy Quincy"
            position="#2 Forward" nation="USA"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Albicy.png"
            name="Albicy Andrew" position="#6 Guard" nation="France"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Anderson.png"
            name="Anderson James" position="#23 Forward" nation="USA"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Abalde.png"
            name="Antonov Semen" position="#11 Forward" nation="Russia"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Arna.png"
            name="Arna Egehan" position="#18 Forward" nation="Turkey"></ami-fullstack-player-profile>
        <ami-fullstack-player-profile class="player" player_image="../../../../assets/images/Ayon.png"
            name="Ayon Gustavo" position="#34 Center" nation="Mexico"></ami-fullstack-player-profile>
    </div>