<div class="menu">
    <div class="title"> <p>VOTE FOR THE <span class="MVP">MVP</span> OF THE MATCH</p> </div>
        
    <div class="players">
        <span class="playerForMVP">
                <img src="assets/images/randolphS@2x.png">
                <h2>RANDOLPH, ANTHONY</h2>
                <h3>Real Madrid</h3>
        </span>
        <span id="campazzo" class="playerForMVP" (click) = "player_clicked('campazzo')">
                <img src="assets/images/campazzoS@2x.png">
                <h2>CAMPAZZO, FACUNDO</h2>
                <h3>Real Madrid</h3>
        </span>
        <span  id="dorsey" class="playerForMVP" (click) = "player_clicked('dorsey')"> 
                <img src="assets/images/dorseyS@2x.png">
                <h2>DORSEY, TYLER</h2>
                <h3>Maccabi Fox</h3>
        </span>
        <span class="playerForMVP">
                <img src="assets/images/tavaresS@2x.png">
                <h2>TAVARES, EDY</h2>
                <h3>Real Madrid</h3>
        </span>
        <span class="playerForMVP">
                <img src="assets/images/carollS@2x.png">
                <h2>CARROLL, JAYCE</h2>
                <h3>Real Madrid</h3>
        </span>
        <span class="playerForMVP">
                <img src="assets/images/acyS@2x.png">
                <h2>ACY, QUINCY</h2>
                <h3>Maccabi Fox</h3>
        </span>
        
       
    </div>

    <div class="buttondiv"> <button (click)="SendToParent();"> <p>SUBMIT</p> </button> </div>

</div>
