span{
    display: inline-block;
}
.player{
    color: white;
    height: 105px;
    width: 370px;
    margin-top: 7%;
    margin-bottom: 7%;
}

img{
    margin-top: -60%;
}

h3{
    margin: auto;
    font-size: 23px;
}

h1{
    margin-left: 220%;
    font-size: 45px;
    
}

.playerinformations{
    margin-left: 3%;
}