.container{
    margin-top:5%;
    width: 200px;
    height: 58px;
    margin-left: 0%;
    margin-bottom: 6%;
}
img{
    margin-left: 5%;
}

.text1{
    width: 230px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left:47%;
    margin-top:-37%;
    

}
.text2{
    width: 132px;
    height: 19px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A1A1A1;
    margin-left:47%;
    margin-top:1%;

}
.text3{
    width: 132px;
    height: 19px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left:47%;
    margin-top:1%;
}