<ami-fullstack-sidebar-menu class="sidemenu"></ami-fullstack-sidebar-menu>
<div class="main">
    <ami-fullstack-search-bar text="T"></ami-fullstack-search-bar>
    <div class="options_row">
        <ami-fullstack-search-options text="The Insider Documentary Seri..."></ami-fullstack-search-options>
        <ami-fullstack-search-options text="Top 10"></ami-fullstack-search-options>
        <ami-fullstack-search-options text="Tomic, Ante"></ami-fullstack-search-options>
    </div>
    <div class="videos">
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Top10plays.png" text="Top 10 Plays of 2018-19" date_text="Jul 01,2019"> </ami-fullstack-search-videos> 
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Top10blocks.png" text="Top 10 Blocks of 2018-19" date_text="Jun 07,2019"> </ami-fullstack-search-videos> 
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Top10alleys.png" text="Top 10 Alley-Oops of 2018-19" date_text="Jun 10,2019"> </ami-fullstack-search-videos> 
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Top10assists.png" text="Top 10 Assists of 2018-19" date_text="Jun 12,2019"> </ami-fullstack-search-videos> 
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Refeere.png" text="Calling the shots: The Anne Panther Story, an Insider.." date_text="Oct 04,2019"> </ami-fullstack-search-videos> 
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Calathes.png" text="The Insider Documentary Series: Guardian of a Legacy" date_text="Oct 04,2019"> </ami-fullstack-search-videos> 
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Yellow.png" text="The Insider Documentary Series: Symphony in Yellow" date_text="Oct 04,2019"> </ami-fullstack-search-videos> 
        <ami-fullstack-search-videos class="video" src_image="../../../../assets/images/Coach.png" text="The Insider Documentary Series: Larry Brown, the learning master" date_text="Oct 04,2019"> </ami-fullstack-search-videos> 
        
    </div>
</div>
