<div class="row">
    <div class="lines">
    <div class="video"> 
        <img src="../../../../assets/images/Top10plays.png" alt="Image"> 
        <div class="text">Top 10 plays of 2018-19<hr> </div>
    
    </div>
    <div class="video"> 
        <img src="../../../../assets/images/Top10blocks.png" alt="Image"> 
        <div class="text">Top 10 Blocks of 2018-19<hr> </div>  
        
    </div>
    <div class="video"> 
            <img src="../../../../assets/images/Top10alleys.png" alt="Image"> 
            <div class="text">Top 10 Alleys of 2018-2019<hr> </div>        
            
    </div>
    <div class="video"> 
                <img src="../../../../assets/images/Top10assists.png" alt="Image"> 
                <div class="text">Top 10 Assists of 2018-2019 <hr> </div>
                
    </div>
    <div class="video"> 
            <img src="../../../../assets/images/Top5plays.png" alt="Image"> 
            <div class="text">Top 5 plays Champ game <hr></div>   
    </div>
    <div class="video"> 
        <img src="../../../../assets/images/midSeason.png" alt="Image"> 
        <div class="text">Top 10 plays Mid-Season<hr> </div>
    </div>
</div>