


<div class="topbar">
        <section></section>
        <section class="topbar-item">
            <h1 class="middle-text"> Title </h1>
        </section>
        <section class="topbar-item">
            <a><img src="../../../../assets/images/icons/zoom.png" class="top-icons" alt="MenuTab"></a>
        </section>
    </div>
<nav role="navigation">
        <div id="menuToggle">
      
          <input type="checkbox" />
          
          
        
          <span></span>
          <span></span>
          <span></span>
          
         
          <ul id="menu">

            <div class="menu-items">
                <img src="../../../../assets/images/icons/video.png" alt="">
                <a href="#"><li>  Videos</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/basketball-ball.png" alt="">
                <a href="#"><li>  Team</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/icons/user.png" alt="">
                <a href="#"><li>  Players</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/Ranking.png" alt="">
                <a href="#"><li>  Standings</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/icons/eye.png" alt="">
                <a href="#"><li>Watchlist</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/icons/heart.png" alt="">
                <a href="#"><li>  Favourites</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/icons/control.png" alt="">
                <a href="#"><li>Smart TV control</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/icons/settings.png" alt="">
                <a href="#"><li>  Settings</li></a>
            </div>
            <div class="menu-items">
                <img src="../../../../assets/images/icons/control.png" alt="">
                <a href="#"><li>  Exit</li></a>
            </div>

          </ul>
        </div>
      </nav>