:host ::ng-deep .option1 {
    color: white;
}
:host ::ng-deep .line {
    left:265px;
    width: 130px;
}
:host ::ng-deep .option2 {
    color: white;
    display: inline-block;
    width:95px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 10% !important;
}
:host ::ng-deep .option3 {
    color: black !important;
}

.letter2_tag{
    width: 393px;
    height: 12px;
    background: black;
    opacity: 80%;
    margin-top: 8%; 
}
.text{
    color:white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 12%;
    line-height: 12px;
    vertical-align: top;
}
.Vertical1{
    margin-top: 7%;
    margin-left: 11.5%;
}
.category{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

.Vertical2{
    margin-top: -125%;
    margin-left: 75.5%;
}
.results{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 18%;
}