<div class="games">
    <div class="live_game">
        <div class="dot"></div>
        <div class="minutes">
            <p>24'</p>
        </div>
        <div class="play_button"><i class="far fa-play-circle"></i></div>
        <img src="/../../../assets/images/RealMadrid.png" alt="Real" id="RealM">
        <img src="/../../../assets/images/Maccabi_Tel_Aviv.png" alt="Maccabi" id="MaccabiT">
       
        <div class="score">
                <p>53-31</p>
            </div>
    </div>
    <div class="upcoming_match">
        <img src="/../../../assets/images/Olympiacos.png" alt="remove" id="Oly">
        <img src="/../../../assets/images/Add_to_watchlist.png" alt="remove" id="watchlist">
        
        <img src="/../../../assets/images/Panathinaikos.png" alt="remove" id="Pao">
        <div class="date"><p>OCT 03</p></div>
        <div class="time"><p>22:45CET</p></div>
            
    </div>
    <div class="upcoming_match">
            <img src="/../../../assets/images/Zalgiris.png" alt="remove" id="Zalgiris">
            <img src="/../../../assets/images/Add_to_watchlist.png" alt="remove" id="watchlist">
            
            <img src="/../../../assets/images/Barcelona.png" alt="remove" id="Barcelona">
            <div class="date"><p>OCT 04</p></div>
            <div class="time"><p>20:45CET</p></div>
          
    </div>
    <div class="upcoming_match">
        <img src="/../../../assets/images/Fenerbahce.png" alt="remove" id="Fenerbahce">
        <img src="/../../../assets/images/Add_to_watchlist.png" alt="remove" id="watchlist">
    
        <img src="/../../../assets/images/Milano.png" alt="remove" id="Milano">
        <div class="date"><p>OCT 04</p></div>
        <div class="time"><p>22:45CET</p></div>
    </div>
    <div class="upcoming_match">
        <img src="/../../../assets/images/Fenerbahce.png" alt="remove" id="Fenerbahce">
        <img src="/../../../assets/images/Add_to_watchlist.png" alt="remove" id="watchlist">
    
        <img src="/../../../assets/images/Milano.png" alt="remove" id="Milano">
        <div class="date"><p>OCT 04</p></div>
        <div class="time"><p>22:45CET</p></div>
    </div>
    <div class="other_match">
        <img src="/../../../assets/images/Panathinaikos.png" alt="remove" id="corner">
    </div>
    
    </div>