.games{
  margin-top: 797px;
}
.live_game{
    float: left;
    margin-left: -5px;
    border-right: 8px solid #FA5500;
    background-image:url('/../../../assets/images/live_match.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 460px;
    height:290px;

}

.upcoming_match{
  float: left;
  border-right: 8px solid #FA5500;
  background-image:url('/../../../assets/images/upcoming_match.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 460px;
  height:290px;
}
.other_match{
  float: left;
  height: 290px;
  width: 449px;
  background-image:url('/../../../assets/images/upcoming_match.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.minutes p{
  font-size:50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 59px;
  color: white;
  margin-left: 45%;
  margin-top: -2%;
}
.play_button i{
  float: left;
  font-size:80px;
  color: white;
  margin-left:42% ;
  margin-top: 3%;
}
.dot{
  height: 20px;
  width:20px ;
  background-color: red;
  border-radius: 50%;
  margin-left: 93%;
  margin-top: 2%;

}

#MaccabiT{
  float: left;
  width: 110px;
  height: auto;
  margin-left:7% ;
  margin-top: -1%;

}
#RealM{
  float: left;
  margin-left: -58%;
  margin-top: -12%;
  width: 180px;
  height: auto;  
}
.score p{
  font-size:50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 59px;
  color: white;
  margin-left: 36%;
  margin-top: 30%;
}

#Pao{
  float: left;
  width: 110px;
  height: auto;
  margin-left:8% ;
  margin-top: 19%;

}
#Oly{
  float: left;
  width: 110px;
  height: auto;
  margin-left:7% ;
  margin-top: 18%;

}

#watchlist{
  float: left;
  width: 90px;
  height: auto;
  margin-left:13% ;
  margin-top: 2%;

}
.date p{
  float: left;
  font-size:40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  margin-top: -10%;
  margin-left: 5%;
}

.time p{
  float: left;
  font-size:40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  margin-top: -6%;
  margin-left: 32%;
}

#Zalgiris{
  float: left;
  width: 100px;
  height: auto;
  margin-left:8% ;
  margin-top: 19%;

}
#Barcelona{
  float: left;
  width: 120px;
  height: auto;
  margin-left:7% ;
  margin-top: 18%;

}
#Fenerbahce{
  float: left;
  width: 110px;
  height: auto;
  margin-left:8% ;
  margin-top: 14%;

}
#Milano{
  float: left;
  width: 110px;
  height: auto;
  margin-left:7% ;
  margin-top: 18%;

}