
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">

<div class="tab">
    <h1>Top Plays</h1>

    <div class="col">
        <img src="../../../../assets/images/videos/top1.jpg"><br>
        <p>Larkin’s assist vs Maccabi FOX a...</p>
    </div>

    <div class="col">
        <img src="../../../../assets/images/videos/top2.jpg"><br>
        <p>Spanoulis’ assist vs Anadolu Efe...</p>
    </div>

    <div class="col">
        <img src="../../../../assets/images/videos/top3.jpg"><br>
        <p>Calathes’ assist
            vs Olympiakos ...</p>
    </div>

    <div class="col">
        <img src="../../../../assets/images/videos/top4.jpg"><br>
        <p>Vesely’s block  vs Maccabi FO...</p>
    </div>
</div>