
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">

<div class="tab">
    <h1>{{title}}</h1>

    <div class="col">
        <img src={{thumbnail1}}><br>
        <p>{{title1}}</p>
    </div>

    <div class="col">
        <img src={{thumbnail2}}><br>
        <p>{{title2}}</p>
    </div>

    <div class="col">
        <img src={{thumbnail3}}><br>
        <p>{{title3}}</p>
    </div>

    <div class="col">
        <img src={{thumbnail4}}><br>
        <p>{{title4}}</p>
    </div>
</div>