<div class="main">
    <ami-fullstack-header-tag></ami-fullstack-header-tag>
    <div class="letter_tag"> <span class="text">A</span> </div>
    <ami-fullstack-side-letter></ami-fullstack-side-letter>
</div>
<div class="Line">
    <ami-fullstack-teams-profile class="team" team="../../../../assets/images/Alba_icon.png" name="ALBA Berlin"
        short="BER" nation="Germany"></ami-fullstack-teams-profile>
    <ami-fullstack-teams-profile class="team" team="../../../../assets/images/Efes_icon.png"
        name="Anadolu Efes Instabul" short="EFS" nation="Turkey"></ami-fullstack-teams-profile>
    <ami-fullstack-teams-profile class="team" team="../../../../assets/images/Armani_icon.png"
        name="Armani AX Milano" short="AXM" nation="Italy"></ami-fullstack-teams-profile>
</div>
<div class="letter2_tag"> <span class="text">C</span> </div>
<div class="Line">
    <ami-fullstack-teams-profile class="team" team="../../../../assets/images/Zvezda_icon.png" name="Crvena Zvezda mts Belgrade"
        short="CZV" nation="Serbia"></ami-fullstack-teams-profile>
    <ami-fullstack-teams-profile class="team" team="../../../../assets/images/CSKA_icon.png"
        name="CSKA Moscow" short="CSK" nation="Russia"></ami-fullstack-teams-profile>
</div>