<div class="menu">
    <div class="VL"></div>
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="far fa-newspaper"></i></a>
    <a href="#"><i class="far fa-calendar-alt"></i></a>
    <a href="#"><i class="fas fa-photo-video"></i></a>
    <a href="#"><i class="fas fa-basketball-ball"></i></a>
    <a href="#"><i class="fas fa-users"></i></a>
    <a href="#"><i class="material-icons" style="font-size:55px;">format_list_numbered</i></a>
    <a href="#"><i class="fas fa-eye"></i></a>
    <a href="#"><i class="fas fa-heart"></i></a>
  
</div>
