<div class="menu">
    <div class="options">

        <div class="VL"></div>

        <a id = "1" routerLink="/HomepageTv"><i class="fas fa-home"> </i></a>
        <a id = "2" routerLink="/News"><img src="../../../assets/images/Group.png" alt="NewsTab"></a>
        <a id = "3" routerLink="/VideosTv"><img src="../../../assets/images/Videos.png" alt="videosTab"></a>
        <a id = "4" routerLink="/ScheduleTv"><img src="../../../assets/images/Schedule.png" alt="ScheduleTab"></a>
        <a id = "5" routerLink="/Teams"><img src="../../../assets/images/basketball-ball.png" alt="TeamsTab"></a>
        <a id = "6" routerLink="/Players"><img src="../../../assets/images/Players.png" alt="PlayersTab"></a>
        <a id = "7" routerLink="/Ranking"><img src="../../../assets/images/Ranking.png" alt="RankingsTab"></a>
        <a id = "8" routerLink="/WatchlistTv"><img src="../../../assets/images/Watchlist.png" alt="WatchlistTab"></a>
        <a id = "9" routerLink="/Favourites"><img src="../../../assets/images/Favourites.png" alt="FavouritesTab"></a>
    </div>
</div>