span{
  display: inline-block;
  vertical-align: top;
}

.menu{
    height: 1080px;
    background: #000000;
    overflow: hidden;
    z-index: 1;
}
.options{
  margin-top: 50%;
}



.menu a {
    display: block;
    text-align: center;
    padding: 16px;
    padding-top: 23px;
    padding-bottom: 5px;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.3s ease;
    color: white;
    font-size: 50px;
  }
  
   
  .VL{
    float: left;
    border-left: 8px solid #FA5500;
    height:80px;
    width: 10px;
    margin-top: 25px;
  }
  