<div class="menu">

    <div class="options">
        <div class="VL"></div>

        <a routerLink="/HomepageTv"><i class="fas fa-home"> </i></a>
        <a routerLink="/News"><img src="../../../assets/images/Group.png" alt="NewsTab"></a>
        <a routerLink="/VideosTv"><img src="../../../assets/images/Videos.png" alt="videosTab"></a>
        <a routerLink="/ScheduleTv"><img src="../../../assets/images/Schedule.png" alt="ScheduleTab"></a>
        <a routerLink="/Teams"><img src="../../../assets/images/basketball-ball.png" alt="TeamsTab"></a>
        <a routerLink="/Players"><img src="../../../assets/images/Players.png" alt="PlayersTab"></a>
        <a routerLink="/Ranking"><img src="../../../assets/images/Ranking.png" alt="RankingsTab"></a>
        <a routerLink="/WatchlistTv"><img src="../../../assets/images/Watchlist.png" alt="WatchlistTab"></a>
        <a routerLink="/Favourites"><img src="../../../assets/images/Favourites.png" alt="FavouritesTab"></a>
    </div>

    <div class="text" id="text">
        <div class="options1">
            <div> <a id="1" routerLink="/HomepageTv">Home</a>      </div>
            <div> <a id="2" routerLink="/News">News</a>            </div>
            <div> <a id="3" routerLink="/VideosTv">Videos</a>      </div>
            <div> <a id="4" routerLink="/ScheduleTv">Schedule</a>  </div>
            <div> <a id="5" routerLink="/Teams">Teams</a>          </div>
            <div> <a id="6" routerLink="/Players">Players</a>      </div>
            <div> <a id="7" routerLink="/Ranking">Rankings</a>     </div>
            <div> <a id="8" routerLink="/WatchlistTv">Watchlist</a></div>
            <div> <a id="9" routerLink="/Favourites">Favourites</a></div>
        </div>
    </div>



</div>

