span{
    display: inline-block;
}

.player{
    margin-bottom: 20%;
}

.statscategory{
    margin-left: 3%;
}

h1{
    font-weight: bold;
    font-size: 40px;

    margin-top: 5%;
    margin-bottom: 7%;

    color: #FA5500;
}

