<span class="statscategory">
    <h1>{{categoryName}}</h1>
    <ami-fullstack-player-case name="CAMPAZZO, FACUNTO" number="6" position="Guard" statsnum="22" country="Argentina" class="player1" image="assets/images/campazzoS.png"></ami-fullstack-player-case>
    <ami-fullstack-player-case name="CAMPAZZO, FACUNTO" number="6" position="Guard" statsnum="22" country="Argentina" class="player1" image="assets/images/campazzoS.png"></ami-fullstack-player-case>
    <ami-fullstack-player-case name="CAMPAZZO, FACUNTO" number="6" position="Guard" statsnum="22" country="Argentina" class="player1" image="assets/images/campazzoS.png"></ami-fullstack-player-case>
</span>